@model Scanner.Models.CoilMasters
@{
    ViewBag.Title = "Coil Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUserName = ((Scanner.Models.User)Session["User"]).FirstName + " " + ((Scanner.Models.User)Session["User"]).LastName;
    var role = ((Scanner.Models.User)Session["User"]).Role;

}
<table class="bodyTable">
    <tr>
        <td style="width:300px;vertical-align:top;">
            <div class="sideMenuDiv">
                @Html.Partial("_SideMenuPanel")
            </div>
        </td>
        <td valign="top">
            @Html.Partial("_PageTitlePanel")
            <table>
                <tr>
                    <td><b>Search Text:</b></td>
                    <td>&nbsp;</td>
                    <td>@Html.TextBoxFor(o => o.whereStr, new { autocomplete = "off" })</td>
                    <td>&nbsp;</td>
                    @if (role == "Gram Admin")
                    {
                        <td><button type="button" class="btn btn-primary" onclick="submitNavpage(1)"><span class="glyphicon glyphicon-search"></span> Search</button></td>
                    }
                    else
                    {
                        <td><button type="button" class="btn btn-primary" onclick="gotoPage('CoilMasterDetails', 'SideMenu', 'ID=@Model.whereStr')"><span class="glyphicon glyphicon-search"></span> Search</button></td>
                    }
                    <td><button type="button" class="btn btn-primary" onclick="clearText()"><span class="glyphicon glyphicon-trash"></span> Clear</button></td>
                    <td><font color="red">@Html.ValidationMessageFor(o => o.whereStr)</font></td>
                </tr>
            </table>
            @if (role == "Gram Admin")
            {
                <div class="TwrapOverFlow" style="width:1560px;">
                    <span style="float:right; font-weight:bold">Total Coils : @Model.totalRows.ToString(),&nbsp;&nbsp;&nbsp;Page: @Model.pageNum.ToString()</span>
                    <table class="head" style="width:1560px;">
                        <tr>
                            @if (Model.sortCol == "COILID")
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('COILID','String')">COILID<span id="COILID_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('COILID','String')">COILID<span id="COILID_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "TYPE")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('TYPE','String')">TYPE<span id="TYPE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('TYPE','String')">TYPE<span id="TYPE_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "COLOR")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('COLOR','String')">COLOR<span id="COLOR_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('COLOR','String')">COLOR<span id="COLOR_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "WEIGHT")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WEIGHT','Number')">WEIGHT<span id="WEIGHT_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WEIGHT','Number')">WEIGHT<span id="WEIGHT_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "GAUGE")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('GAUGE','Number')">GAUGE<span id="GAUGE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('GAUGE','Number')">GAUGE<span id="GAUGE_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "WIDTH")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WIDTH','Number')">WIDTH<span id="WIDTH_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WIDTH','Number')">WIDTH<span id="WIDTH_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "[ORDER]")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('[ORDER]','Number')">ORDER<span id="ORDER_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('[ORDER]','Number')">ORDER<span id="ORDER_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "P_ORDER")
                            {
                                <td style="width:40px;font-weight:bold;"><a onclick="orderToggle('P_ORDER','String')">P_ORDER<span id="P_ORDER_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:40px;font-weight:bold;"><a onclick="orderToggle('P_ORDER','String')">P_ORDER<span id="P_ORDER_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "MONTH_RECD")
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('MONTH_RECD','String')">MONTH_RECD<span id="MONTH_RECD_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('MONTH_RECD','String')">MONTH_RECD<span id="MONTH_RECD_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "DATE_INWH")
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_INWH','Date')">DATE_INWH<span id="DATE_INWH_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_INWH','Date')">DATE_INWH<span id="DATE_INWH_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "DATE_TRANSFER")
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_TRANSFER','Date')">DATE_TRANSFER<span id="DATE_TRANSFER_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_TRANSFER','Date')">DATE_TRANSFER<span id="DATE_TRANSFER_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "LAST_STOCKTAKE_DATE")
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('LAST_STOCKTAKE_DATE','Date')">LAST_STOCKTAKE_DATE<span id="LAST_STOCKTAKE_DATE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('LAST_STOCKTAKE_DATE','Date')">LAST_STOCKTAKE_DATE<span id="LAST_STOCKTAKE_DATE_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "STATUS")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('STATUS','String')">STATUS<span id="STATUS_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('STATUS','String')">STATUS<span id="STATUS_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "CLENGTH")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('CLENGTH','Number')">CLENGTH<span id="CLENGTH_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('CLENGTH','Number')">CLENGTH<span id="CLENGTH_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "ZINCCOAT")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('ZINCCOAT','Number')">ZINCCOAT<span id="ZINCCOAT_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('ZINCCOAT','Number')">ZINCCOAT<span id="ZINCCOAT_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "LOCATION")
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('LOCATION','String')">LOCATION<span id="LOCATION_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('LOCATION','String')">LOCATION<span id="LOCATION_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "INV_NO")
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('INV_NO','String')">INV_NO<span id="INV_NO_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('INV_NO','String')">INV_NO<span id="INV_NO_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "INV_DATE")
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('INV_DATE','Date')">INV_DATE<span id="INV_DATE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('INV_DATE','Date')">INV_DATE<span id="INV_DATE_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                            @if (Model.sortCol == "UNITPRICE")
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('UNITPRICE','Number')">UNITPRICE<span id="UNITPRICE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                            }
                            else
                            {
                                <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('UNITPRICE','Number')">UNITPRICE<span id="UNITPRICE_ord" style="float:right;color:green;display:none;"></span></a></td>
                            }
                        </tr>
                    </table>
                    <div class="inner_table" style="width:1560px;">
                        @if (Model.errMsg == "")
                        {
                            <table style="width:1560px; overflow-x: auto;">
                                @for (int i = 0; i < Model.CoilDetails.Count; i++)
                                {
                                    <tr>
                                        <td style="width:50px;">
                                            <a onclick="gotoPage('CoilMasterDetails','SideMenu','ID=@Model.CoilDetails[i].COILID')">
                                                @if (@Model.CoilDetails[i].COILID != null)
                                                {@Model.CoilDetails[i].COILID}
                                            </a>
                                        </td>
                                        <td class="context-menu_@Model.CoilDetails[i].TYPE" style="width:30px;">
                                            @if (@Model.CoilDetails[i].TYPE != null)
                                            {@Model.CoilDetails[i].TYPE}
                                        </td>
                                        <td class="context-menu_@Model.CoilDetails[i].COLOR" style="width:30px;">
                                            @if (@Model.CoilDetails[i].COLOR != null)
                                            {@Model.CoilDetails[i].COLOR}
                                        </td>
                                        <td style="width:30px;">@Model.CoilDetails[i].WEIGHT.ToString()</td>
                                        @if (Model.CoilDetails[i].GAUGE.ToString().Length == 3)
                                        {
                                            <td class="context-menu_@Model.CoilDetails[i].GAUGE.ToString().Substring(2,1)" style="width:30px;">@Model.CoilDetails[i].GAUGE.ToString()</td>
                                        }
                                        @if (Model.CoilDetails[i].GAUGE.ToString().Length == 4)
                                        {
                                            <td class="context-menu_@Model.CoilDetails[i].GAUGE.ToString().Substring(2,2)" style="width:30px;">@Model.CoilDetails[i].GAUGE.ToString()</td>
                                        }
                                        <td style="width:30px;">@Model.CoilDetails[i].WIDTH.ToString()</td>
                                        <td style="width:30px;">@Model.CoilDetails[i].ORDER.ToString()</td>
                                        <td style="width:40px;">
                                            @if (@Model.CoilDetails[i].P_ORDER != null)
                                            {@Model.CoilDetails[i].P_ORDER}
                                        </td>
                                        <td style="width:50px;">
                                            @if (@Model.CoilDetails[i].MONTH_RECD != null)
                                            {@Model.CoilDetails[i].MONTH_RECD}
                                        </td>
                                        <td style="width:70px;">@Model.CoilDetails[i].DATE_INWH.ToString()</td>
                                        <td style="width:70px;">@Model.CoilDetails[i].DATE_TRANSFER.ToString()</td>
                                        <td style="width:70px;">@Model.CoilDetails[i].LAST_STOCKTAKE_DATE.ToString()</td>
                                        <td style="width:30px;">
                                            @if (@Model.CoilDetails[i].STATUS != null)
                                            {@Model.CoilDetails[i].STATUS}
                                        </td>
                                        <td style="width:30px;">@Model.CoilDetails[i].CLENGTH.ToString()</td>
                                        <td style="width:30px;">
                                            @if (@Model.CoilDetails[i].ZINCCOAT != null)
                                            {@Model.CoilDetails[i].ZINCCOAT}
                                        </td>
                                        <td style="width:50px;">
                                            @if (@Model.CoilDetails[i].LOCATION != null)
                                            {@Model.CoilDetails[i].LOCATION}
                                        </td>
                                        <td style="width:50px;">
                                            @if (@Model.CoilDetails[i].INV_NO != null)
                                            {@Model.CoilDetails[i].INV_NO}
                                        </td>
                                        <td style="width:70px;">@Model.CoilDetails[i].INV_DATE.ToString()</td>
                                        <td style="width:30px;">@Model.CoilDetails[i].UNITPRICE.ToString()</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @{
                        var sel15 = (Model.rowsPerPage == 15) ? "selected " : "";
                        var sel30 = (Model.rowsPerPage == 30) ? "selected " : "";
                        var sel50 = (Model.rowsPerPage == 50) ? "selected " : "";
                        var sel100 = (Model.rowsPerPage == 100) ? "selected " : "";
                        var sel150 = (Model.rowsPerPage == 150) ? "selected " : "";
                        var sel200 = (Model.rowsPerPage == 200) ? "selected " : "";
                        var selAll = "";
                        if (Model.totalRows > 0) { selAll = (Model.rowsPerPage == Model.totalRows) ? "selected " : ""; }
                    }
                    <br />
                    <span style="float:right; font-weight:bold">
                        @Html.TextBoxFor(o => o.totalPages, new { style = "display:none;" })Total Pages: @Model.totalPages.ToString(), Records per Page:
                        <select name="rowsPerPage" id="rowsPerPage" onchange="reloadWorkOrders()" style="height:28px;font-size:14px;">
                            <option value=15 @sel15>15</option>
                            <option value=30 @sel30>30</option>
                            <option value=50 @sel50>50</option>
                            <option value=100 @sel100>100</option>
                            <option value=150 @sel150>150</option>
                            <option value=200 @sel200>200</option>
                            <option value=@Model.totalRows @selAll>All</option>
                        </select>
                        &nbsp;&nbsp;
                        <a onclick="backNavpage()"><span class="glyphicon glyphicon-backward"></span></a>&nbsp;
                        @Html.TextBoxFor(o => o.pageNum, new { style = "width:30px;font-size:14px;font-weight:bold;border:solid 1px #666; height:28px;font-color:black;" })
                        &nbsp;<a onclick="forwardNavpage()"><span class="glyphicon glyphicon-forward"></span></a>
                    </span>
                    <input type="hidden" name="rows" id="rowsCnt" value="" />
                    <input type="hidden" name="cols" id="colsCnt" value="" />
                    @Html.TextBoxFor(o => o.sortCol, new { id = "sortCol", style = "display:none" })
                    @Html.TextBoxFor(o => o.sortColType, new { style = "display:none" })
                    @Html.TextBoxFor(o => o.orderBy, new { style = "display:none" })
                </div>
                <table>
                    <tr>
                        <td>
                            <label for="UploadedFile" class="btn btn-primary btn-lg" style="margin-bottom:10px;margin-top:10px;">
                                <span class="glyphicon glyphicon-folder-open"></span>  SELECT FILE
                            </label>
                            <span id="file-selected"></span>&nbsp;&nbsp;
                            <input type="file" id="UploadedFile" name="UploadedFile" style="display: none " />
                        </td>
                        <td>
                            <button type="button" id="Open" class="btn btn-primary btn-lg" onclick="readFile()" style="float:left; width:100px;"><span class="glyphicon glyphicon-file"></span> Open</button>
                            <span style="font-size:100%; color:red; ">
                                @if (Model.message != null)
                                {@Model.message}
                            </span>
                            <div>@Html.TextBoxFor(model => model.openFileFlag, new { id = "openFileFlag", type = "hidden" })</div>
                        </td>
                    </tr>
                </table>
                <div>
                    <button type="button" id="PRINT" class="btn btn-primary btn-lg col-md-1" style="float:right;" onclick="PrintCoilMasterLabel()"><span class="glyphicon glyphicon-print"></span> Print</button>
                    <div>@Html.TextBoxFor(model => model.printFlag, new { id = "printFlag", type = "hidden" })</div>
                </div>
                @*@Html.Partial("_BottomPanel")*@
            }

        </td>
    </tr>
</table>
<script language="javascript">
    $('#printFlag').val('');

    $('#UploadedFile').bind('change', function() { var fileName = ''; fileName = document.getElementById("UploadedFile").files[0].name; $('#file-selected').html(fileName); })

    var loadErrMsg = '@Html.Raw(Model.errMsg)';

    if (loadErrMsg != "") {
        BootstrapDialog.show({
            title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-warning-sign"></i> Warning</font>',
            message: "<font style='font-size:25px;'>" + loadErrMsg + "</font>",
            buttons: [{
                label: 'OK',
                cssClass: 'btn-dialog',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });
    }

    function staffSearch()
    {
        var input = $('#whereStr').val();
        gotoPage('CoilMasterDetails', 'SideMenu', 'ID=$('#whereStr').val()')
    }

    function submitNavpage(ini) {
        if (ini == 0) {
            if ($("#pageNum").val().replace(/ /g, "") == "") {
                $("#pageNum").val("1");
            }
        }
        else {
            $("#pageNum").val("1");
        }

        var flag = isPosInteger($("#pageNum").val());
        if (!flag) {
            showWarning("Page Number input is not a valid number.");
            $("#pageNum").val($("#pageNum").val().replace(/\D/g, ''));

            if ($("#pageNum").val() == "0") {
                $("#pageNum").val("1");
            }
        }
        else {
            if (parseInt($("#pageNum").val()) < 1) {
                $("#pageNum").val(1);
            }

            if (parseInt($("#pageNum").val()) > parseInt($("#totalPages").val())) {
                $("#pageNum").val($("#totalPages").val());
            }

            $("#byClick").val("1");

            if (ini == 1) {
                $("#sortCol").val("DefaultSort");
            }

            var url = '@Url.Action("-1", "-2")';
            url = url.replace("-1", "CoilMaster").replace("-2", "SideMenu");
            $("#frmMain").attr('action', url);
            $("#frmMain").submit();
        }
    }

    $('#pageNum').keypress(function (e) {
        if (e.which == 13) {
            submitNavpage(0);
        }
    });

    $('#whereStr').keypress(function (e) {
        if (e.which == 13) {
            submitNavpage(1);
        }
    });

    $('#categorySort').change(function () {
        reloadWorkOrders();
    });

    $('#categorySort').keypress(function (e) {
        if (e.which == 13) {
            reloadWorkOrders();
        }
    })

    function clearText() {
        $('#categorySort').val('');
        $('#statusSort').val('-1');
        $('#whereStr').val('');
        submitNavpage(1);
    }


    function forwardNavpage() {
        if ($("#pageNum").val().replace(/ /g, "") == "") {
            $("#pageNum").val("1");
        }

        var flag = isPosInteger($("#pageNum").val());
        if (!flag) {
            showWarning("Page Number input is not a valid number.");
        }
        else {
            if (parseInt($("#pageNum").val()) < 1) {
                $("#pageNum").val(1);
            }

            if (parseInt($("#pageNum").val()) > parseInt($("#totalPages").val())) {
                $("#pageNum").val($("#totalPages").val());
            }

            if (parseInt($("#pageNum").val()) < parseInt($("#totalPages").val())) {
                $("#pageNum").val(parseInt($("#pageNum").val()) + 1);
            }
            $("#byClick").val("1");
            var url = '@Url.Action("-1", "-2")';
            url = url.replace("-1", "CoilMaster").replace("-2", "SideMenu");
            $("#frmMain").attr('action', url);
            $("#frmMain").submit();
        }
    }


    function backNavpage() {
        if ($("#pageNum").val().replace(/ /g, "") == "") {
            $("#pageNum").val("1");
        }

        var flag = isPosInteger($("#pageNum").val());
        if (!flag) {
            showWarning("Page Number input is not a valid number.");
        }
        else {
            if (parseInt($("#pageNum").val()) > parseInt($("#totalPages").val())) {
                $("#pageNum").val($("#totalPages").val());
            }

            if (parseInt($("#pageNum").val()) < 1) {
                $("#pageNum").val(1);
            }

            if (parseInt($("#pageNum").val()) > 1) {
                $("#pageNum").val(parseInt($("#pageNum").val()) - 1);
            }

            $("#byClick").val("1");
            var url = '@Url.Action("-1", "-2")';
            url = url.replace("-1", "CoilMaster").replace("-2", "SideMenu");
            $("#frmMain").attr('action', url);
            $("#frmMain").submit();
        }
    }

    function reloadWorkOrders() {
        $("#byClick").val("1");
        var url = '@Url.Action("-1", "-2")';
        url = url.replace("-1", "CoilMaster").replace("-2", "SideMenu");
        $("#frmMain").attr('action', url);
        $("#frmMain").submit();
    }

    function orderToggle(Id, sortType) {
        if (Id == $("#sortCol").val()) {
            if ($("#orderBy").val() == "glyphicon glyphicon-arrow-down") {
                $("#orderBy").val("glyphicon glyphicon-arrow-up");
            }
            else {
                $("#orderBy").val("glyphicon glyphicon-arrow-down");
            }
        }
        else {
            $("#sortCol").val(Id);
            $("#orderBy").val("glyphicon glyphicon-arrow-up");
        }

        $("#sortColType").val(sortType);

        $("#byClick").val("1");
        var url = '@Url.Action("-1", "-2")';
        url = url.replace("-1", "CoilMaster").replace("-2", "SideMenu");
        $("#frmMain").attr('action', url);
        $("#frmMain").submit();
    }

    function readFile() {
        $('#openFileFlag').val('open');
        reloadWorkOrders();
    }

    function PrintCoilMasterLabel()
    {
        var mywindow = window.open('', 'PRINT', 'height=600,width=700');
        mywindow.document.write('<html><head><title>SLIT LABEL PRINT PREVIEW (Print By:@loginUserName)</title>');
        mywindow.document.write('</head><body>');

        /* Printing Settings
        * Browser: Chrome
        * Layout: Landscape
        * Paper Size: User Defined
        * Margins: Default
        * Scale: 100
        */

        //For big label, 1.5cm margin-top on printer preference
        //mywindow.document.write('@if (Model.QRcodes != null){for (int i = 0; i < Model.CoilMasterLabels.Count; i++){<br/><br/><br/><br/><br/><br/><table><tr><td>@Html.Raw(Model.QRcodes[i])</td><td><div>&emsp;@Html.Raw(Model.Barcodes[i])</div><div style="font-size:150%">&emsp;@Html.Raw(Model.CoilMasterLabels[i])</div></td></tr></table><br/><br/><br/>}}');

        //For Coil Master and Slit label, no margin on printer preference
        //mywindow.document.write('@if (Model.QRcodes != null){for (int i = 0; i < Model.CoilMasterLabels.Count; i++){<table><tr><td>@Html.Raw(Model.QRcodes[i])</td><td><div style="float:right;">@Html.Raw(Model.Barcodes[i])</div><div style="font-size:150%;float:right;">@Html.Raw(Model.CoilMasterLabels[i])</div><div style="font-size:600%;font-weight:bold;">@Html.Raw(Model.CoilDetails[i].COLOR) <span style="font-size:30%;font-weight: bold;">@Html.Raw(Model.CoilDetails[i].TYPE)</span></div></td></tr></table><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>}}');

        //For Coil Master and Slit label, no margin on printer preference, choose NONE for margin
        mywindow.document.write('@if (Model.QRcodes != null){for (int i = 0; i < Model.CoilMasterLabels.Count; i++){<table><tr><td><div style="margin-left:10px;">@Html.Raw(Model.QRcodes[i])</div></td><td><div style="font-size:400%;font-weight:bold;">@Html.Raw(Model.CoilDetails[i].COLOR) <div style="font-size:50%;font-weight: bold;">@Html.Raw(Model.CoilDetails[i].TYPE)</div><div style="font-size:50%; font-weight:bold;">@ViewBag.month_year</div></td><td><div style="float:right;margin-right:10px;">@Html.Raw(Model.Barcodes[i])</div><div style="font-size:150%;float:right;margin-right:10px;">@Html.Raw(Model.CoilMasterLabels[i])</div></td></tr></table><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>}}');


        mywindow.document.write('</body></html>');
        mywindow.document.close();
        setTimeout(function ()
        {
            mywindow.focus();
            mywindow.print();
            mywindow.close();
        }, 0);
        $('#printFlag').val('print');
        //$("#frmMain").submit();
    }

    $(function() {
        //coil master type
        $.contextMenu({ selector: '.context-menu_FS', items: {name: {name: "Five Star Infill Sheet 0.32"}}});
        $.contextMenu({ selector: '.context-menu_PO', items: {name: {name: "Post 0.9"}}});
        $.contextMenu({ selector: '.context-menu_IS', items: {name: {name: "Infill Sheet 0.35"}}});
        $.contextMenu({ selector: '.context-menu_SM', items: {name: {name: "Smart Slat 0.55"}}});
        $.contextMenu({ selector: '.context-menu_RA', items: {name: {name: "Rail 0.8"}}});
        $.contextMenu({ selector: '.context-menu_PL', items: {name: {name: "Plinth 0.8"}}});
        $.contextMenu({ selector: '.context-menu_WC', items: {name: {name: "Infill Sheet 0.35"}}});
        $.contextMenu({ selector: '.context-menu_RO', items: {name: {name: "Roof 0.42"}}});
        $.contextMenu({ selector: '.context-menu_OS', items: {name: {name: "Smart Slat 0.55"}}});

        //coil master gauge
        $.contextMenu({ selector: '.context-menu_32', items: {name: {name: "Five Star Infill Sheet 0.32"}}});
        $.contextMenu({ selector: '.context-menu_9', items: {name: {name: "Post 0.9"}}});
        $.contextMenu({ selector: '.context-menu_35', items: {name: {name: "Infill Sheet 0.35"}}});
        $.contextMenu({ selector: '.context-menu_55', items: {name: {name: "Smart Slat 0.55"}}});
        $.contextMenu({ selector: '.context-menu_8', items: {name: {name: "Plinth/Rail 0.8"}}});
        $.contextMenu({ selector: '.context-menu_42', items: {name: {name: "Roof 0.42"}}});

        //coil master color
        $.contextMenu({ selector: '.context-menu_DSM', items: {name: {name: "DARK SMOKE"}}});
        $.contextMenu({ selector: '.context-menu_WNB', items: {name: {name: "WOODGRAIN NUT BROWN"}}});
        $.contextMenu({ selector: '.context-menu_WRU', items: {name: {name: "WOODGRAIN RUSSET"}}});
        $.contextMenu({ selector: '.context-menu_GAL', items: {name: {name: "GALVANISED"}}});
        $.contextMenu({ selector: '.context-menu_UNP', items: {name: {name: "UNPAINTED"}}});
        $.contextMenu({ selector: '.context-menu_WOA', items: {name: {name: "WOODGRAIN OAK"}}});
        $.contextMenu({ selector: '.context-menu_WAG', items: {name: {name: "WOODGRAIN ARMOUR GREY"}}});
        $.contextMenu({ selector: '.context-menu_TBA', items: {name: {name: "TBA"}}});
        $.contextMenu({ selector: '.context-menu_AGR', items: {name: {name: "ARMOUR GREY"}}});
        $.contextMenu({ selector: '.context-menu_ARE', items: {name: {name: "AUTUMN RED"}}});
        $.contextMenu({ selector: '.context-menu_BBR', items: {name: {name: "BOWRAL BROWN"}}});
        $.contextMenu({ selector: '.context-menu_BEI', items: {name: {name: "BEIGE"}}});
        $.contextMenu({ selector: '.context-menu_BGR', items: {name: {name: "BRUNSWICK GREEN"}}});
        $.contextMenu({ selector: '.context-menu_BIR', items: {name: {name: "BIRCH"}}});
        $.contextMenu({ selector: '.context-menu_BLA', items: {name: {name: "BLACK"}}});
        $.contextMenu({ selector: '.context-menu_BRO', items: {name: {name: "BLUE ROCK"}}});
        $.contextMenu({ selector: '.context-menu_BSH', items: {name: {name: "BRONZE SHEEN"}}});
        $.contextMenu({ selector: '.context-menu_CGR', items: {name: {name: "CAULFIELD GREEN"}}});
        $.contextMenu({ selector: '.context-menu_CHA', items: {name: {name: "CHARCOAL"}}});
        $.contextMenu({ selector: '.context-menu_CLA', items: {name: {name: "CLARET"}}});
        $.contextMenu({ selector: '.context-menu_COK', items: {name: {name: "COKE"}}});
        $.contextMenu({ selector: '.context-menu_DJA', items: {name: {name: "DEEP JACARANDA"}}});
        $.contextMenu({ selector: '.context-menu_GGR', items: {name: {name: "GULL GREY"}}});
        $.contextMenu({ selector: '.context-menu_GMG', items: {name: {name: "GUN METAL GREEN"}}});
        $.contextMenu({ selector: '.context-menu_GST', items: {name: {name: "GREY STONE"}}});
        $.contextMenu({ selector: '.context-menu_HBR', items: {name: {name: "HAMMERSLY BROWN"}}});
        $.contextMenu({ selector: '.context-menu_HGR', items: {name: {name: "HAWTHORN GREEN"}}});
        $.contextMenu({ selector: '.context-menu_HRE', items: {name: {name: "HERITAGE RED"}}});
        $.contextMenu({ selector: '.context-menu_IRO', items: {name: {name: "IRONBARK"}}});
        $.contextMenu({ selector: '.context-menu_MBL', items: {name: {name: "MOUNTAIN BLUE"}}});
        $.contextMenu({ selector: '.context-menu_MER', items: {name: {name: "MERINO"}}});
        $.contextMenu({ selector: '.context-menu_MGR', items: {name: {name: "MIST GREEN"}}});
        $.contextMenu({ selector: '.context-menu_MLO', items: {name: {name: "MERLOT"}}});
        $.contextMenu({ selector: '.context-menu_MOC', items: {name: {name: "MOCCA"}}});
        $.contextMenu({ selector: '.context-menu_MVS', items: {name: {name: "MOSS VALE SAND"}}});
        $.contextMenu({ selector: '.context-menu_NBR', items: {name: {name: "NUT BROWN"}}});
        $.contextMenu({ selector: '.context-menu_OAK', items: {name: {name: "OAK"}}});
        $.contextMenu({ selector: '.context-menu_OGR', items: {name: {name: "OCEAN GREEN"}}});
        $.contextMenu({ selector: '.context-menu_OWH', items: {name: {name: "OFF WHITE"}}});
        $.contextMenu({ selector: '.context-menu_PGR', items: {name: {name: "PICTON GREEN"}}});
        $.contextMenu({ selector: '.context-menu_PRI', items: {name: {name: "PRIMROSE"}}});
        $.contextMenu({ selector: '.context-menu_PWH', items: {name: {name: "PEARL WHITE"}}});
        $.contextMenu({ selector: '.context-menu_RIV', items: {name: {name: "RIVERGUM"}}});
        $.contextMenu({ selector: '.context-menu_RUS', items: {name: {name: "RUSSET"}}});
        $.contextMenu({ selector: '.context-menu_SAN', items: {name: {name: "SANDSTONE"}}});
        $.contextMenu({ selector: '.context-menu_SCR', items: {name: {name: "SMOOTH CREAM"}}});
        $.contextMenu({ selector: '.context-menu_SEC', items: {name: {name: "SECONDS"}}});
        $.contextMenu({ selector: '.context-menu_SGR', items: {name: {name: "SLATE GREY"}}});
        $.contextMenu({ selector: '.context-menu_SSH', items: {name: {name: "SILVER SHEEN"}}});
        $.contextMenu({ selector: '.context-menu_WCO', items: {name: {name: "WEATHERED COPPER"}}});
        $.contextMenu({ selector: '.context-menu_WHE', items: {name: {name: "WHEAT"}}});

        // Two-color coils
        $.contextMenu({ selector: '.context-menu_BISC', items: {name: {name: "BIRCH AND SMOOTH CREAM"}}});
        $.contextMenu({ selector: '.context-menu_BRWH', items: {name: {name: "BLUE ROCK AND WHEAT"}}});
        $.contextMenu({ selector: '.context-menu_BBMV', items: {name: {name: "BOWRAL BROWN AND MOSS VALE SAND"}}});
        $.contextMenu({ selector: '.context-menu_DJMO', items: {name: {name: "DEEP JACARANDA AND MOCCA"}}});
        $.contextMenu({ selector: '.context-menu_IRGR', items: {name: {name: "IRONBARK AND GULL GREY?"}}});
        $.contextMenu({ selector: '.context-menu_GMME', items: {name: {name: "GUN METAL GREEN AND MERINO"}}});
        $.contextMenu({ selector: '.context-menu_CORI', items: {name: {name: "COKE AND RIVERGUM"}}});
        $.contextMenu({ selector: '.context-menu_GGMB', items: {name: {name: "GULL GREY AND MOUNTAIN BLUE"}}});
        $.contextMenu({ selector: '.context-menu_AGHR', items: {name: {name: "ARMOUR GREY AND HERITAGE RED"}}});
        $.contextMenu({ selector: '.context-menu_PRGR', items: {name: {name: "PRIMROSE AND GULL GREY?"}}});
        $.contextMenu({ selector: '.context-menu_BLGS', items: {name: {name: "BLACK AND GREY STONE"}}});
        $.contextMenu({ selector: '.context-menu_BEMG', items: {name: {name: "BEIGE AND MIST GREEN"}}});

        $.contextMenu({ selector: '.context-menu_PAL', items: {name: {name: "???"}}});
        $.contextMenu({ selector: '.context-menu_BOL', items: {name: {name: "???"}}});


    });
</script>