@using Scanner.Models
@using System.Web.Configuration;
@{

    var loginAs = "";
    var role = "";
    var dispHeading = "";

    if (ViewBag.Title != null)
    {
        if (ViewBag.Title == "Order List Board")
        {
            dispHeading = "none";
        }
    }

    if (Request.IsAuthenticated)
    {
        if (Session["User"] != null)
        {
            loginAs = ((Scanner.Models.User)Session["User"]).UserName;
            role = ((Scanner.Models.User)Session["User"]).Role;
        }

        if (Request.Url.AbsoluteUri.IndexOf("/CheckOut") > -1)
        {
            Session["CurrForm"] = "CheckOut";
            ViewBag.Title = "CHECK OUT";
        }
    }

    var pubDir2 = WebConfigurationManager.AppSettings["pubDir2"].ToString();

    var ctrlName = "Scanner";
    var actName = "";
    var formId = "frmMain";
    var formClass = "";

    if (ViewBag.Title == "Coil")
    {
        ctrlName = "Scanner";
        actName = "Coil";
        formId = "frmMain";
        formClass = "";
    }

    if (ViewBag.Title == "Scanner Page")
    {
        ctrlName = "Scanner";
        actName = "Index";
        formId = "frmMain";
        formClass = "";
    }

    if (ViewBag.Title == "Work Order Lines")
    {
        ctrlName = "Scanner";
        actName = "WorkOrderLines";
        formId = "frmMain";
        formClass = "";
    }

}
<!DOCTYPE html>



@*<link rel="icon" type="image/png" href="~/Content/Gram/images/favicon.png" />*@
<!--[if IE 6]>

<html id="ie6" lang="en-US">

<![endif]-->
<!--[if IE 7]>

<html id="ie7" lang="en-US">

<![endif]-->
<!--[if IE 8]>

<html id="ie8" lang="en-US">

<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gram Engineering </title>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    <script src="~/Scripts/Gram/Global.js"></script>

    <script src="~/Scripts/jquery-2.1.4/jquery-2.1.4.js"></script>
    <link href="~/Content/3.3.5/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slider.css" rel="stylesheet" />


    @*<link href="~/Content/3.3.5/bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/3.3.5/docs.css" rel="stylesheet" />
        <link href="~/Content/3.3.5/prettify.css" rel="stylesheet" />*@

    <script src="~/Scripts/boostrap-3.3.5/bootstrap.js"></script>
    <script src="~/Scripts/boostrap-3.3.5/run_prettify.min.js"></script>
    <link href="~/Content/3.3.5/bootstrap-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/boostrap-3.3.5/bootstrap-dialog.js"></script>
    <script src="~/Content/bootstrap-slider.js"></script>


    @*<script src="~/Scripts/boostrap-3.3.5/bootstrap-tooltip.js"></script>
        <script src="~/Scripts/boostrap-3.3.5/bootstrap-confirmation.js"></script>*@

    <script src="~/Scripts/Gram/Global.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" type="text/css" media="all" href="http://www.gram.com.au/wp-content/themes/twentyeleven/style.css" />*@
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Gram/Style.css" />

    <!--[if lt IE 9]>
    <![endif]-->
    <style type='text/css'>
        img#wpstats {
            display: none
        }
    </style>
    @*<link rel="stylesheet" href="http://www.gram.com.au/wp-content/plugins/jquery-vertical-mega-menu/skin.php?widget_id=2&amp;skin=blue" type="text/css" media="screen" />*@
    <meta name="description" itemprop="description" content="Gramline is the #1 fencing supplier and contractor in Australia, provide fencing services in Sydney, Melbourne, Perth and Brisbane." />
    <meta name="keywords" itemprop="keywords" content="Fencing supplies Melbourne; Fencing supplies Sydney, Fencing contractors Sydney, Fencing contractors Brisbane, Fencing supplies Brisbane, Fencing contractors Perth, Fencing contractors Melbourne" />
    <meta name="google-site-verification" content="z_ydDaOJ7CFSIyEizTzpnAxejccnOlqZ9BnnxR4ZqP0" />

    <style type="text/css" media="screen">
        body {
            position: relative
        }
    </style>
    

    <script type="text/javascript" language="javascript">

        var needRefresh = 0;
        var timeloops = 0;
        function startTime() {
            var today = new Date();
            var d = today.getDate();
            var mo = today.getMonth() + 1;
            var y = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);

            if ($("#SubmitDate").length) {
                $("#SubmitDate").val(d + "/" + mo + "/" + y + " " + h + ":" + m + ":" + s);
            }
        }

        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }

        window.onhashchange = function () {
            alert(document.location);
            updateHistory(document.location);
        }

        function updateHistory(curr) {
            window.location.lasthash.push(window.location.hash);
            window.location.hash = curr;
        }

        function displayNoImage(img) {
            //img.src = "../../Images/no-image.jpg";
            $("#titleImage").hide();
        }

        function setByClick() {
            if ($("#byClick").length) {
                $("#byClick").val("1");
            }
        }

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }

        function sendFileToServer(formData, status) {
            var dir = $("#pubDir2").val();


            var uploadURL = dir+"Internal/Upload"; //Upload URL
            var extraData = {}; //Extra Data.
            var jqXHR = $.ajax({
                xhr: function () {
                    var xhrobj = $.ajaxSettings.xhr();
                    if (xhrobj.upload) {
                        xhrobj.upload.addEventListener('progress', function (event) {
                            var percent = 0;
                            var position = event.loaded || event.position;
                            var total = event.total;
                            if (event.lengthComputable) {
                                percent = Math.ceil(position / total * 100);
                            }
                            //Set progress
                            status.setProgress(percent);
                        }, false);
                    }
                    return xhrobj;
                },
                url: uploadURL,
                type: "POST",
                async: false,
                contentType: false,
                processData: false,
                cache: false,
                data: "formData",
                success: function (data) {
                    status.setProgress(100);

                    $("#status1").append("File upload Done<br>");
                },
               error: function (xhr, error, status) {
                    //console.log(error, status);
                    alert(error);
                }
            });

            status.setAbort(jqXHR);

            var dir = $("#pubDir2").val();
            var uploadURL = dir + "api/FileUpld"; //Upload URL

        }

        var rowCount = 0;
        function createStatusbar(obj) {
            rowCount++;
            var row = "odd";
            if (rowCount % 2 == 0) row = "even";
            this.statusbar = $("<div class='statusbar " + row + "'></div>");
            this.filename = $("<div class='filename'></div>").appendTo(this.statusbar);
            this.size = $("<div class='filesize'></div>").appendTo(this.statusbar);
            this.progressBar = $("<div class='progressBar'><div></div></div>").appendTo(this.statusbar);
            this.abort = $("<div class='abort'>Abort</div>").appendTo(this.statusbar);
            obj.after(this.statusbar);

            this.setFileNameSize = function (name, size) {
                var sizeStr = "";
                var sizeKB = size / 1024;
                if (parseInt(sizeKB) > 1024) {
                    var sizeMB = sizeKB / 1024;
                    sizeStr = sizeMB.toFixed(2) + " MB";
                }
                else {
                    sizeStr = sizeKB.toFixed(2) + " KB";
                }

                this.filename.html(name);
                this.size.html(sizeStr);
            }
            this.setProgress = function (progress) {
                var progressBarWidth = progress * this.progressBar.width() / 100;
                this.progressBar.find('div').animate({ width: progressBarWidth }, 10).html(progress + "% ");
                if (parseInt(progress) >= 100) {
                    this.abort.hide();
                }
            }
            this.setAbort = function (jqxhr) {
                var sb = this.statusbar;
                this.abort.click(function () {
                    jqxhr.abort();
                    sb.hide();
                });
            }
        }
        function handleFileUpload(files, obj) {
            for (var i = 0; i < files.length; i++) {
                var fd = new FormData();
                fd.append('file', files[i]);

                var status = new createStatusbar(obj); //Using this we can set progress.
                status.setFileNameSize(files[i].name, files[i].size);

            //    alert(files[0].mozFullPath);
                sendFileToServer(fd, status);

            }
        }
        $(document).ready(function () {
            var obj = $("#dragandrophandler");
            obj.on('dragenter', function (e) {
                e.stopPropagation();
                e.preventDefault();
                $(this).css('border', '2px solid #0B85A1');
            });
            obj.on('dragover', function (e) {
                e.stopPropagation();
                e.preventDefault();
            });
            obj.on('drop', function (e) {

                $(this).css('border', '2px dotted #0B85A1');
                e.preventDefault();
                var files = e.originalEvent.dataTransfer.files;

                //We need to send dropped files to Server
                handleFileUpload(files, obj);
            });
            $(document).on('dragenter', function (e) {
                e.stopPropagation();
                e.preventDefault();
            });
            $(document).on('dragover', function (e) {
                e.stopPropagation();
                e.preventDefault();
                obj.css('border', '2px dotted #0B85A1');
            });
            $(document).on('drop', function (e) {
                e.stopPropagation();
                e.preventDefault();
            });

        });


        if ($("#goToOrderTrack").length) {
         gotoPage("OrderTrack","Order","")
    }

        function gotoPage(pageName, ctrl, cons) {
        if (pageName != "#") {
            $("#frmMain").attr("onsubmit", "");
            var errMsg = checkSpecicalPage();
            if (errMsg != "") {
                showWarning(errMsg);
            } else {
                setValueBack2(0);

                var act = '@Url.Action("pageName", "Ctrl")';
                act = act.replace("pageName", pageName);
                act = act.replace("Ctrl", ctrl);

                if (cons != "") {
                    act += "?" + cons;
                }

                $("#frmMain").attr('action', act);
                $("#byClick").val("1");
                if ($("#actReq").length) {
                    $("#actReq").val("f");
                }
                $("#frmMain").submit();
            }
        }
        else {
            showInfo3("GRAMLINE WILL NOT BE TAKING ANY SMARTSLAT <br/>ORDERS AS OF THE 3RD SEPTEMBER 2018, <br/>DUE TO MACHINE BREAK DOWNS THAT REQUIRES <br/>REPAIRING, AN UPGRADE AND SERVICING.  <br/><br/>GRAM WILL RE-COMMENCE TAKING SMARTSLAT </br/>ORDERS ON THE 1ST OCTOBER 2018.");
        }
    }

     function checkSpecicalPage() {
         var errMsg = "";
         if ($("#frmName").length) {
             if (($("#frmName").val() == "SmartSlat") || ($("#frmName").val() == "Roofing")) {
                 for (var j = 1; j < $("#colsCnt").val(); j++) {
                     if ((j == 1) || (j == 3) || (j == 6) || (j == 8) || (j == 11) || (j == 13)) {
                         if (($("#cR-1C" + j.toString()).val() != "") &&
                             ($("#cR-1C" + (j + 1).toString()).val() == "")) {
                             errMsg = "Error:<br/>* No value in red cells."
                             $("#cR-1C" + (j + 1).toString()).css("background-color", "red");
                             $("#tdR-1C" + (j + 1).toString()).css("background-color", "red");
                         }
                     }

                     if ((j == 2) || (j == 4) || (j == 7) || (j == 9) || (j == 12) || (j == 14)) {
                         if (($("#cR-1C" + j.toString()).val() != "") &&
                             ($("#cR-1C" + (j - 1).toString()).val() == "")) {
                             errMsg = "Error:<br/>* No value in red cells."
                             $("#cR-1C" + (j - 1).toString()).css("background-color", "red");
                             $("#tdR-1C" + (j - 1).toString()).css("background-color", "red");
                         }
                     }
                 }
             }

             if (($("#frmName").val() == "SmartSlat") &&  (errMsg =="")) {
                 if (($("#cR-1C2").val() != "") && ($("#cR-1C4").val() != "")) {
                     if (($("#cR-1C1").val() != $("#cR-1C3").val()) || ($("#cR-1C2").val() != $("#cR-1C4").val())) {
                         errMsg = " Are you sure 40mm Base and Cover in different Qty or Size?"
                     }
                 }

                 if (($("#cR-1C7").val() != "") && ($("#cR-1C9").val() != "")) {
                     if (($("#cR-1C6").val() != $("#cR-1C8").val()) || ($("#cR-1C7").val() != $("#cR-1C9").val())) {
                         errMsg = " Are you sure 55mm Base and Cover in different Qty or Size?"
                     }
                 }

                 if (($("#cR-1C12").val() != "") && ($("#cR-1C14").val() != "")) {
                     if (($("#cR-1C11").val() != $("#cR-1C13").val()) || ($("#cR-1C12").val() != $("#cR-1C14").val())) {
                         errMsg = " Are you sure 80mm Base and Cover in different Qty or Size?"
                     }
                 }

             }

             if ($("#frmName").val() == "SmartSlatAng") {
                 for (var j = 1; j < $("#colsCnt").val(); j++) {
                     if ((j == 1) || (j == 3) || (j == 5) || (j == 7) || (j == 9) || (j == 11) || (j == 13) || (j == 15) || (j == 17)) {
                         if (($("#cR-1C" + j.toString()).val() != "") &&
                             ($("#cR-1C" + (j + 1).toString()).val() == "")) {
                             errMsg = "Error:<br/>* No value in red cells."
                             $("#cR-1C" + (j + 1).toString()).css("background-color", "red");
                             $("#td-1C" + (j + 1).toString()).css("background-color", "red");
                         }
                     }

                     if ((j == 2) || (j == 4) || (j == 6) || (j == 8) || (j == 10) || (j == 12) || (j == 14) || (j == 16) || (j == 18)) {
                         if (($("#cR-1C" + j.toString()).val() != "") &&
                             ($("#cR-1C" + (j - 1).toString()).val() == "")) {
                             errMsg = "Error:<br/>* No value in red cells."
                             $("#cR-1C" + (j - 1).toString()).css("background-color", "red");
                             $("#tdR-1C" + (j - 1).toString()).css("background-color", "red");
                         }
                     }
                 }
             }


             if ($("#frmName").val() == "SmartSlatLBSO") {
                 for (var j = 1; j < $("#colsCnt").val(); j++) {
                     if ((j == 1) || (j == 3)) {
                         if (($("#cR-1C" + j.toString()).val() != "") &&
                             ($("#cR-1C" + (j + 1).toString()).val() == "")) {
                             errMsg = "Error:<br/>* No value in red cells."
                             $("#cR-1C" + (j + 1).toString()).css("background-color", "red");
                             $("#td-1C" + (j + 1).toString()).css("background-color", "red");
                         }
                     }

                     if ((j == 2) || (j == 4)) {
                         if (($("#cR-1C" + j.toString()).val() != "") &&
                             ($("#cR-1C" + (j - 1).toString()).val() == "")) {
                             errMsg = "Error:<br/>* No value in red cells."
                             $("#cR-1C" + (j - 1).toString()).css("background-color", "red");
                             $("#tdR-1C" + (j - 1).toString()).css("background-color", "red");
                         }
                     }
                 }
             }

         }


         if ($("#frmName").val() == "Fasteners") {
             if ($("#selColour").length) {
                 $("#selColour").css("background-color", "white");
                 if ($("#selColour").css("display") != "none") {
                     if (($("#cR-1C1").val() != "") && ($("#cR-1C2").val() == "")) {
                         errMsg = "Error:<br/>* No value in red cells."
                         $("#cR-1C2").css("background-color", "red");
                     }

                     if (($("#cR-1C1").val() == "") && ($("#cR-1C2").val() != "")) {
                         errMsg = "Error:<br/>* No value in red cells."
                         $("#selColour").css("background-color", "red");
                     }
                 }
             }
         }

         if ($("#frmName").val() == "GramSlat") {
             if ((($("#cR-1C1").val() != "") && ($("#cR-1C2").val() == "")) ||
                 (($("#cR-1C1").val() == "") && ($("#cR-1C2").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#cR-1C1").css("background-color", "red");
                 $("#cR-1C2").css("background-color", "red");
             }

             if ((($("#cR-1C3").val() != "") && ($("#cR-1C4").val() == "")) ||
                 (($("#cR-1C3").val() == "") && ($("#cR-1C4").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#cR-1C3").css("background-color", "red");
                 $("#cR-1C4").css("background-color", "red");
             }

             if ((($("#cR-1C5").val() != "") && ($("#cR-1C6").val() == "")) ||
                 (($("#cR-1C5").val() == "") && ($("#cR-1C6").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#cR-1C5").css("background-color", "red");
                 $("#cR-1C6").css("background-color", "red");
             }

             if ((($("#cR-1C7").val() != "") && ($("#cR-1C8").val() == "")) ||
                 (($("#cR-1C7").val() == "") && ($("#cR-1C8").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#cR-1C7").css("background-color", "red");
                 $("#cR-1C8").css("background-color", "red");
             }

             if ((($("#cR-1C9").val() != "") && ($("#cR-1C10").val() == "")) ||
                 (($("#cR-1C9").val() == "") && ($("#cR-1C10").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#cR-1C9").css("background-color", "red");
                 $("#cR-1C10").css("background-color", "red");
             }

             if ((($("#cR-1C11").val() != "") && ($("#cR-1C12").val() == "")) ||
                 (($("#cR-1C11").val() == "") && ($("#cR-1C12").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#cR-1C11").css("background-color", "red");
                 $("#cR-1C12").css("background-color", "red");
             }
         }




         if ($("#frmName").val() == "SameColourItemOrdering") {
             if ((($("#GramSlat_cR-1C1").val() != "") && ($("#GramSlat_cR-1C2").val() == "")) ||
                 (($("#GramSlat_cR-1C1").val() == "") && ($("#GramSlat_cR-1C2").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#GramSlat_cR-1C1").css("background-color", "red");
                 $("#GramSlat_cR-1C2").css("background-color", "red");
             }

             if ((($("#GramSlat_cR-1C3").val() != "") && ($("#GramSlat_cR-1C4").val() == "")) ||
                 (($("#GramSlat_cR-1C3").val() == "") && ($("#GramSlat_cR-1C4").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#GramSlat_cR-1C3").css("background-color", "red");
                 $("#GramSlat_cR-1C4").css("background-color", "red");
             }

             if ((($("#GramSlat_cR-1C5").val() != "") && ($("#GramSlat_cR-1C6").val() == "")) ||
                 (($("#GramSlat_cR-1C5").val() == "") && ($("#GramSlat_cR-1C6").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#GramSlat_cR-1C5").css("background-color", "red");
                 $("#GramSlat_cR-1C6").css("background-color", "red");
             }

             if ((($("#GramSlat_cR-1C7").val() != "") && ($("#GramSlat_cR-1C8").val() == "")) ||
                 (($("#GramSlat_cR-1C7").val() == "") && ($("#GramSlat_cR-1C8").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#GramSlat_cR-1C7").css("background-color", "red");
                 $("#GramSlat_cR-1C8").css("background-color", "red");
             }

             if ((($("#GramSlat_cR-1C9").val() != "") && ($("#GramSlat_cR-1C10").val() == "")) ||
                 (($("#GramSlat_cR-1C9").val() == "") && ($("#GramSlat_cR-1C10").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#GramSlat_cR-1C9").css("background-color", "red");
                 $("#GramSlat_cR-1C10").css("background-color", "red");
             }

             if ((($("#GramSlat_cR-1C11").val() != "") && ($("#GramSlat_cR-1C12").val() == "")) ||
                 (($("#GramSlat_cR-1C11").val() == "") && ($("#GramSlat_cR-1C12").val() != ""))) {
                 errMsg = "Error:<br/>* Value set in red is missing one input."
                 $("#GramSlat_cR-1C11").css("background-color", "red");
                 $("#GramSlat_cR-1C12").css("background-color", "red");
             }
         }


         if ($("#frmName").val() == "EnterMeterage") {
             errMsg = "";
             $("#meterage").val($("#meterage").val().replace(/ /g, ""));
             if ($("#meterage").val() == "") {
                 errMsg += "* Meterage is null<br/>";
             }
             else {
                 if (isNaN($("#meterage").val())) {
                     errMsg += "* Meterage is not a number<br/>";
                 }
             }

             if ($("#sheetType").val() == "") {
                 errMsg += "* Sheet Type is null<br/>";
             }

             if ($("#panelColour").val() == "") {
                 errMsg += "* Panel Colour is null<br/>";
             }

             if ($("#railColour").val() == "") {
                 errMsg += "* Rail Colour is null<br/>";
             }

             if ($("#postColour").val() == "") {
                 errMsg += "* Post Colour is null<br/>";
             }


             if ($("#panelHeight").val() == "") {
                 errMsg += "* Height is null<br/>";
             }


             if ($("#postType").val() == "") {
                 errMsg += "* Post Type is null<br/>";
             }
             else {
                 if ($("#postType").val() == "CHANNEL POST") {
                     if ($("#chHeight").val() == "") {
                         errMsg += "* Channel Post Height is null<br/>";
                     }
                 }
                 else {
                     if ($("#smHeight").val() == "") {
                         errMsg += "* SMART Post Height is null<br/>";
                     }
                 }
             }

             if (errMsg != "") {
                 errMsg = "Error:<br/>" + errMsg;
             }

             if (($("#meterage").val() == "") &&
                 ($("#sheetType").val() == "") &&
                 ($("#panelColour").val() == "") &&
                 ($("#panelHeight").val() == "") &&
                 ($("#postType").val() == "") &&
                 ($("#chHeight").val() == "") &&
                 ($("#smHeight").val() == "")) {
                 errMsg = "";
             }

         }


         if ($("#frmName").val() == "EnterNoOfPanels") {
             errMsg = "";
             $("#panel2370").val($("#panel2370").val().replace(/ /g, ""));
             if ($("panel2370").val() == "") {
                 errMsg += "* 2370 PANEL is null<br/>";
             }
             else {
                 if (isNaN($("#panel2370").val())) {
                     errMsg += "* 2370 PANEL is not a number<br/>";
                 }
             }

             if ($("#sheetType").val() == "") {
                 errMsg += "* Sheet Type is null<br/>";
             }

             if ($("#panelColour").val() == "") {
                 errMsg += "* Panel Colour is null<br/>";
             }

             if ($("#frameColour").val() == "") {
                 errMsg += "* Frame Colour is null<br/>";
             }


             if ($("#panelHeight").val() == "") {
                 errMsg += "* Height is null<br/>";
             }

             if ($("#postType").val() == "") {
                 errMsg += "* Post Type is null<br/>";
             }
             else {
                 if ($("#postType").val() == "CHANNEL POST") {
                     if ($("#chHeight").val() == "") {
                         errMsg += "* Channel Post Height is null<br/>";
                     }
                 }
                 else {
                     if ($("#smHeight").val() == "") {
                         errMsg += "* SMART Post Height is null<br/>";
                     }
                 }
             }

             if (errMsg != "") {
                 errMsg = "Error:<br/>" + errMsg;
             }

             if (($("#panel2370").val() == "") &&
                 ($("#sheetType").val() == "") &&
                 ($("#panelColour").val() == "") &&
                 ($("#panelHeight").val() == "") &&
                 ($("#postType").val() == "") &&
                 ($("#chHeight").val() == "") &&
                 ($("#smHeight").val() == "")) {
                 errMsg = "";
             }

         }


         if ($("#frmName").val() == "SpecialOrder") {
             var upcnt = $("#uploadFrame").contents().find('#maxFileCnt');
             $("#uploadedFiles").val($("#uploadFrame").contents().find('#uploadedFilesTxt').val());

             if ((upcnt.val() == 4) && ($("#cR-1C1").val() != "")) {
                 $("#cR-1C1").val("");
                 errMsg = "No files Uploaded.";
             }
         }


         //if ($("#frmName").val() == "SameColourItemOrdering") {
         //    if ($("#itemColour").val() == "") {
         //        errMsg = "No Colour selected.";
         //    }
         //}

         return errMsg;
    }

     function setValueBack2(shw) {
         if ($("#LR-1C0").length) {
             var rid = $('#currRowId').val();
             if (rid != "") {
                 if (shw == 1) {
                     $("#tr" + rid).css("display", "");
                 }

                 for (var j = 1; j < $("#colsCnt").val(); j++) {
                     if ($("#cR-1" + "C" + j.toString()).length) {
                         $("#cR" + rid + "C" + j.toString()).val($("#cR-1" + "C" + j.toString()).val());

                         if (($("#frmName").val() == "GramSlat") && (j % 2 == 0)) {
                             var gColor = "";
                             switch ($("#cR" + rid + "C" + j.toString()).val()) {
                                 case "0":
                                     gColor = "BIRCH";
                                     break;
                                 case "1":
                                     gColor = "BLACK";
                                     break;
                                 case "2":
                                     gColor = "COKE";
                                     break;
                                 case "3":
                                     gColor = "GREY";
                                     break;
                                 case "4":
                                     gColor = "MERINO";
                                     break;
                                 case "5":
                                     gColor = "MIST GREEN";
                                     break;
                                 case "6":
                                     gColor = "PRIMROSE";
                                     break;
                                 case "7":
                                     gColor = "SLATE GREY";
                                     break;
                                 case "":
                                     gColor = "";
                             }

                             $("#GCR" + rid + "C" + j.toString()).html(gColor);
                         }



                         $("#cR-1" + "C" + j.toString()).val("");
                         if ($("#cR" + rid + "C" + j.toString()).val() != "") {
                             $("#cR" + rid + "C" + j.toString()).css("background-color", "wheat");
                             $("#tdR" + rid + "C" + j.toString()).css("background-color", "wheat");
                         }
                         else {

                             if ($('#forceBlock').val().indexOf($("#cR" + rid + "C0").val() + " " + $("#head" + j.toString()).attr("data")) > -1) {
                                 $("#cR" + rid + "C" + j.toString()).css("background-color", "#000");
                                 $("#tdR" + rid + "C" + j.toString()).css("background-color", "#000");
                             }
                             else {
                                 $("#cR" + rid + "C" + j.toString()).css("background-color", "white");
                                 $("#tdR" + rid + "C" + j.toString()).css("background-color", "white");
                             }
                         }
                     }
                 }
             }
         }
     }

     function setValueBack(shw) {
         var errMsg = checkSpecicalPage();
         if (errMsg != "") {
             showWarning(errMsg);
         }
         else {
             setValueBack2(shw)
         }
        }



        function showInfo3(msg) {
            BootstrapDialog.show({
                title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-info-sign"></i> Information</font>',
                message: "<font style='font-size:25px;'>" + msg + "</font>",
                buttons: [{
                    label: 'OK',
                    cssClass: 'btn-dialog',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }

    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body onload="startTime()" style="width:100% !important;">
    @using (Html.BeginForm(actName, ctrlName, FormMethod.Post, new { @id = formId, @class = formClass }))
    {
        @*<div class="wrapper2"  style="width:100%">
            <div id="page" class="hfeed">
                <header id="branding" role="banner">*@

        if (dispHeading != "none")
        {
            <div id="google_translate_element"></div>
        }
        <input type="hidden" name="pubDir2" id="pubDir2" value="@pubDir2" />

        <table style="width:100%">
            <tr style="display:@dispHeading">
                <td>
                    <div class="wrapper2" style="width:100% !important;">
                        <div id="page" class="hfeed" style="width:100% !important;">
                            <header id="branding" role="banner" style="width:100% !important;">
                                @*<hgroup>*@
                                <div style="width:100%; height:100px; float:left; margin-top:17px;">
                                    <table style="margin-left:auto;margin-right:auto;width:1200px;">
                                        <tr>
                                            <td>
                                                <img border="0" src="~/Content/Gram/images/logo1.jpg" width="290" height="100" alt="Gramline" title="GramLine" onclick="gotoPage('Index','Order','')" onmouseover="" style="cursor: pointer;"/>

                                                @*<img border="0" src="http://www.gram.com.au/wp-content/themes/twentyeleven/images/logo1.jpg" width="290" height="100" alt="Gramline" title="GramLine" />*@
                                            </td>
                                            <td>
                                                <table style="height:100%;">
                                                    <tr>
                                                        <td>
                                                            <div id="urgentMes">
                                                            </div>
                                                            <div style="position:absolute; width:315px;  right:176px; top:15px;">
                                                                @*<img height="16" width="16" style="display:inline-block; margin-right:8px;" src="http://www.gram.com.au/wp-content/themes/twentyeleven/images/phone.png">*@
                                                                <img height="16" width="16" style="display:inline-block; margin-right:8px;" src="~/Content/Gram/images/phone.png" />
                                                                <span style="font-size:17px; color:#fff;">1800GRAMLINE</span>
                                                                @if (Session["User"] != null)
                                                                {
                                                                    <br /><span style="font-size:17px; color:#fff;">Login&nbsp;as:&nbsp;@loginAs</span>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="bottom">
                                                            @if (Session["User"] != null)
                                                            {
                                                                <div style="width:900px;">
                                                                    @Html.Partial("_TopMenuPanel")
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    @if (Session["User"] != null)
                                    {
                                        <br />
                                        <div class="sideMenuDiv">
                                            @Html.Partial("_SideMenuPanel")
                                        </div>
                                    }
                                </div>
                                @*</hgroup>*@
                            </header>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <table style="width:100%">
                        <tr>
                            <td style="width:5%"><input type="hidden" name="byClick" id="byClick" value="" /></td>
                            <td style="width:95%">@RenderBody()</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <footer style="width:100%; padding-bottom:50px;">
                                    <div style="text-align:center;"><hr style="width:400px;" /><p>&copy; @DateTime.Now.Year - Gram Engineering Pty Ltd</p></div>
                                </footer>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @*<div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" >
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->*@
</body>
</html>
