@using System.Web.Configuration;
@{
    var role = "";
    var userName = "";
    var Uid = "";

    if (Session["User"] != null)
    {
        role = ((Scanner.Models.User)Session["User"]).Role;
        userName = ((Scanner.Models.User)Session["User"]).UserName;
        Uid = ((Scanner.Models.User)Session["User"]).Id.ToString();
    }

    int isFront = 0;
    Session["isFront"] = "0";
    if (Session["TradeType"] != null)
    {
        if (Convert.ToUInt32(Session["TradeType"]) > 0)
        {
            isFront = 1;
            Session["isFront"] = "1";
        }
    }

    string currIP = (Session["IP"] == null) ? "" : Session["IP"].ToString();
}
<nav style="width:inherit">
    <div id="topMenu">
        <ul>
            <li>
                <a onclick="gotoPage('Index', 'Order','');">HOME</a>
            </li>
            <li><a onclick="gotoPage('Coil','Scanner','');">COIL</a></li>
            <li><a onclick="gotoPage('Product1','Scanner','');">Product 1</a></li>
            <li><a onclick="gotoPage('Product2','Scanner','');">Product 2</a></li>
            <li><a onclick="gotoPage('Product3','Scanner','');">Product 3</a></li>
            <li>@Html.ActionLink("LOGOUT", "Logout", "Home", new { area = "" }, new { onClick = "AreYouSureToLogout()" })</li>
        </ul>
    </div>
</nav>

<input type="hidden" name="isFront" id="isFront" value="@isFront" />
<input type="hidden" name="userRole" id="userRole" value="@role" />
<input type="hidden" name="userName_" id="userName_" value="@userName" />
<input type="hidden" name="userId" id="userId" value="@Uid" />
<input type="hidden" name="currIP" id="currIp" value="@currIP" />
<script language="javascript">

    function AreYouSureToLogout() {
        var msg = "Are you Sure to Logout?<br/>All temperate memory data will lost.";

        BootstrapDialog.show({
            title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-question-sign"></i> Confimation</font>',
            message: "<font style='font-size:25px;'>" + msg + "</font>",
            buttons: [{
                label: 'NO',
                cssClass: 'btn-dialog',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'YES',
                cssClass: 'btn-dialog',
                action: function (dialogItself) {
                    dialogItself.close();
                    var url = '@Url.Action("NewOrder", "Order")';
                    location.href = url;
                }
                }]
        });

        setByClick();
    }
</script>




