@model Scanner.Models.PasswordReq
@{
    ViewBag.Title = "Forgot Password";
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-4" style="width:100%;text-align:center">
        <fieldset>
            <table style="border:solid; border-width:1px;margin-left:auto;margin-right:auto;width:800px;">
                <tr>
                    <td colspan="3" style="padding:10px"><font style="font-size:30px; font-weight:bold;">@ViewBag.Title</font></td>
                </tr>
                <tr>
                    <td style="width:100px;"></td>
                    <td style="font-size:20px; padding:10px; width:100px;" valign="top">
                        <div class="editor-label">
                            @Html.LabelFor(u => u.Email)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(u => u.Email)
                            <br /><font color="red">@Html.ValidationMessageFor(u => u.Email)</font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px"></td>
                    <td></td>
                    <td>
                        <input type="button" value="BACK" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="$('#byClick').val('1');window.location='/Home';" />&nbsp;&nbsp;
                        <input type="button" value="SUBMIT" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="sendReqPass()" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Msg))
                        {
                            var color = "green";
                            if (Model.Msg.IndexOf("not existing") > -1)
                            {
                                color = "red";
                            }
                            <div style="color:@color; font-size:18px;">@Model.Msg</div>
                        }
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<script language="javascript">
    function sendReqPass() {
        if ($("#Email").val().replace(/ /g, "") == "") {
            BootstrapDialog.show({
                title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-warning-sign"></i> Warning</font>',
                message: "<font style='font-size:25px;'><div style='max-height:600px;overflow:auto;'>* Email is null.</div></font>",
                buttons: [{
                    label: 'OK',
                    cssClass: 'btn-dialog',
                    action: function (dialogItself) {
                        $("#byClick").val("1");
                        dialogItself.close();
                    }
                }]
            });
        }
        else {
            gotoPage('ForgotPassword', 'Home', '');
        }
    }

    var msg = '@Model.Msg';
    if (msg != "") {

        if (msg.indexOf("not existing") > -1) {
            BootstrapDialog.show({
                title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-warning-sign"></i> Warning</font>',
                message: "<font style='font-size:25px;'><div style='max-height:600px;overflow:auto;'>" + msg + "</div></font>",
                buttons: [{
                    label: 'OK',
                    cssClass: 'btn-dialog',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }
        else {
            BootstrapDialog.show({
                title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-info-sign"></i> Information</font>',
                message: "<font style='font-size:25px;'>" + msg + "</font>",
                buttons: [{
                    label: 'OK',
                    cssClass: 'btn-dialog',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }
    }
</script>
