@model Scanner.Models.LoginUser
@{

    ViewBag.Title = "Home Page";
}

<div style="margin-top:200px;">

    <div class="col-md-4" style="width:100%;text-align:left">
        <fieldset>
            <table id="tbLogin" style="border:solid; border-width:1px;margin-left:auto;margin-right:auto;width:400px;">
                <tr>
                    <td colspan="2" style="padding:10px"><font style="font-size:30px; font-weight:bold;">Login:</font></td>
                </tr>
                <tr>
                    <td style="font-size:20px;padding:10px">
                        <div class="editor-label">
                            @Html.LabelFor(u => u.UserName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field" style="vertical-align:top;">
                            @Html.TextBoxFor(u => u.UserName)<br />
                            <font color="red">@Html.ValidationMessageFor(u => u.UserName)</font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:20px; padding:10px">
                        <div class="editor-label">
                            @Html.LabelFor(u => u.Password)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.PasswordFor(u => u.Password, new { value = Model.Password })<br />
                            <font color="red">@Html.ValidationMessageFor(u => u.Password)</font>
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td style="font-size:20px; padding:10px"></td>
                    <td>
                        <div class="editor-label">
                            @Html.CheckBoxFor(u => u.RememberMe)
                            @Html.LabelFor(u => u.RememberMe)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px"></td>
                    <td>
                        <input class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" type="button" value="Scanner" id="scanner" onclick="gotoScanner();" />

                        <button value="" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="gotoPage('Index','Home','');"><b>SUBMIT</b></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><font color="red">@Html.ValidationSummary(true, "Login failed. Check your login details.")</font></td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<script language="javascript">
            function gotoScanner() {
        var url = '@Url.Action("Index", "Scanner", new { id = "__id__" })';
        window.location.href = url.replace('__id__', "");
        }
</script>