@model Scanner.Models.CoilMasters
@{
    ViewBag.Title = "Coil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUserName = ((Scanner.Models.User)Session["User"]).FirstName + " " + ((Scanner.Models.User)Session["User"]).LastName + " " + ((Scanner.Models.User)Session["User"]).Role;
}

<style type="text/css" id="custom-background-css">
    body.custom-background {
        background-color: #eaf6ff;
    }
</style>
<table class="bodyTable">
    <tr>
        <td style="width:300px;vertical-align:top;">
            <div class="sideMenuDiv">
                @Html.Partial("_SideMenuPanel")
            </div>
        </td>
        <td valign="top">
            @Html.Partial("_PageTitlePanel")
            <div class="col-md-6">
                <div style="font-size:25px;" class="editor-label">
                    Coil ID Scanned
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.CoilDetails[0].Input, new { id = "ID", style = "width: 500px; height:250px; border: 2px solid #ccc;" })
                    @Html.TextBoxFor(model => model.CoilDetails[0].Save, new { id = "Save", type = "hidden" })
                    @Html.TextBoxFor(model => model.CoilDetails[0].SaveTable, new { id = "SaveTable", type = "hidden" })
                    <div style="font-size:30px;">Please press Tab button to display data</div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="width:300px; text-align:center; font-size:30px;">
                    <img src="~/Content/images/Upload-QRcode.png" alt="QRcode for upload data" height="300" width="300" />
                    Upload Data
                </div>

                <div style="padding-top:50px" class="editor-field">
                    @Html.TextBoxFor(model => model.CoilDetails[0].Flag, new { id = "uploadFlag", type = "hidden" })
                </div>
            </div>
            <div>
                <div style="color:red; font-size:40px">@ViewBag.Error @ViewBag.Upload</div>
                <div class="TwrapOverFlow" style="margin-right:10px;">
                    <table class="head" style="font-size:15px; width:1500px;">
                        <tr>
                            <th style="width:80px">
                                <span class="text">ID</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Type</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Color</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Weight</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Gauge</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Width</span>
                            </th>
                            @*<th style="width:50px">
                                <span class="text">Order</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">P_order</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Month_recd</span>
                            </th>
                            <th style="width:180px">
                                <span class="text">Date_inwh</span>
                            </th>
                            <th style="width:180px">
                                <span class="text">Date_transfer</span>
                            </th>
                            <th style="width:180px">
                                <span class="text">Last_stocktake_date</span>
                            </th>*@
                            <th style="width:50px">
                                <span class="text">Status</span>
                            </th>
                            @*<th style="width:50px">
                                <span class="text">Clength</span>
                            </th>*@
                        </tr>
                    </table>
                    <div class="inner_table" style="width:1500px; height:300px;">
                        <table>
                            @{
                                int i = 0;
                                if (Model != null && Model.CoilDetails != null)
                                {
                                    foreach (var item in Model.CoilDetails.Skip(1).ToList())
                                    {
                                        <tr>
                                            <td style="width:80px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].COILID, new { @id = "COILID_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].TYPE, new { @id = "TYPE_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].COLOR, new { @id = "COLOR_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].WEIGHT, new { @id = "WEIGHT_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].GAUGE, new { @id = "GAUGE_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].WIDTH, new { @id = "WIDTH_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            @*<td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].ORDER, new { @id = "ORDER_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].P_ORDER, new { @id = "P_ORDER_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].MONTH_RECD, new { @id = "MONTH_RECD_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:180px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].DATE_INWH, new { @id = "DATE_INWH_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:180px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].DATE_TRANSFER, new { @id = "DATE_TRANSFER_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:180px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].LAST_STOCKTAKE_DATE, new { @id = "LAST_STOCKTAKE_DATE_" + i, style = "background-color:#e2e2e2;" })
                                            </td>*@
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].STATUS, new { @id = "STATUS_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            @*<td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].CLENGTH, new { @id = "CLENGTH_" + i, style = "background-color:#e2e2e2;" })
                                            </td>*@
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" id="clear" value="CLEAR" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" />
                <input type="button" id="back" value="BACK" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="gotoPage('Index','Scanner','');" />&nbsp;&nbsp;
                <input type="submit" id="uploadButton" value="UPDATE" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px; float:right;" />
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $('#ID').focus();
    $('#ID').val('');
    var upload = $('#uploadFlag').val();
    if (upload == "UPLOAD") {
        $('.inner_table').remove();
        $('#uploadFlag').val('');
    }
    
    $('#clear').click(function () {
        $('.inner_table').remove(); //remove all table rows except the headings
        $('#ID').val('');
        $('#Save').val('');
        $('#SaveTable').val('');
        $('#uploadFlag').val("");
    });

    $('#uploadButton').click(function () {
        $('#SaveTable').val($('#Save').val());
        $('#uploadFlag').val("UPLOAD");
        $("#frmMain").submit(function () {
            $('#Save').val('');
        });
    });
    
    $('#ID').keydown(function (event) {
        if (event.keyCode == 9) {
            $('#Save').val($('#Save').val() + $('#ID').val());
            $("#frmMain").submit();
        }
    });

    //$('#ID').keypress(function (e) {
    //    if (e.which == 13) {
    //        return false;
    //    }
    //});
</script>