@model Scanner.Models.CoilSlits
@{
    ViewBag.Title = "Coil Slit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUserName = ((Scanner.Models.User)Session["User"]).FirstName + " " + ((Scanner.Models.User)Session["User"]).LastName;
}
<style type="text/css">
    body.custom-background {
        background-color: #eaf6ff;
    }
    /* page-break-after works, as well */
</style>
<table class="bodyTable">
    <tr>
        <td style="width:300px;vertical-align:top;">
            <div class="sideMenuDiv">
                @Html.Partial("_SideMenuPanel")
            </div>
        </td>
        <td valign="top">
            @Html.Partial("_PageTitlePanel")
            @Html.Raw(ViewBag.testChrome)
            <div class="col-md-12" style="width:1450px; border-bottom: 1px solid;">
                <table class="col-md-4">
                    <tr>
                        <td style="font-size:25px;" class="editor-label">
                            Coil ID Scanned
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-field">
                            @Html.TextBoxFor(model => model.input, new { style = "width: 350px; height:50px;", autocomplete = "off" })
                            @Html.TextBoxFor(model => model.inputHidden, new { style = "width: 350px; height:50px;", type = "hidden"})
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:20px;">Please press Tab button to display data</td>
                    </tr>
                </table>
                @if (@Model.inputHidden != null && Model.errMsg == "")
                {
                    <table class="col-md-4" style="font-size:20px;">
                        <tr><td><b>Coil ID:</b> @Model.CoilDetails[0].COILID</td></tr>
                        <tr><td><b>Type:</b> @Model.CoilDetails[0].TYPE.ToString()</td></tr>
                        <tr><td><b>Color:</b> @Model.CoilDetails[0].COLOR.ToString()</td></tr>
                        <tr><td><b>Weight:</b> @Model.CoilDetails[0].WEIGHT.ToString()</td></tr>
                        <tr><td><b>Gauge:</b> @Model.CoilDetails[0].GAUGE.ToString()</td></tr>
                        <tr><td><b>Width:</b> @Model.CoilDetails[0].WIDTH.ToString()</td></tr>
                        <tr><td><b>Order:</b> @Model.CoilDetails[0].ORDER.ToString()</td></tr>
                        <tr>
                            <td>
                                <b>p_order:</b>
                                @if (@Model.CoilDetails[0].P_ORDER != null)
                                {@Model.CoilDetails[0].P_ORDER.ToString()}
                            </td>
                        </tr>
                    </table>
                    <table class="col-md-4" style="font-size:20px;">
                        <tr>
                            <td>
                                <b>Month_Recd:</b>
                                @if (@Model.CoilDetails[0].MONTH_RECD != null)
                                {@Model.CoilDetails[0].MONTH_RECD.ToString()}
                            </td>
                        </tr>
                        <tr><td><b>Date_inwh:</b> @Model.CoilDetails[0].DATE_INWH.ToString()</td></tr>
                        <tr><td><b>Date_Transfer:</b> @Model.CoilDetails[0].DATE_TRANSFER.ToString()</td></tr>
                        <tr><td><b>Last StockTake Date:</b> @Model.CoilDetails[0].LAST_STOCKTAKE_DATE.ToString()</td></tr>
                        <tr>
                            <td>
                                <b>Status:</b>
                                @if (@Model.CoilDetails[0].STATUS != null)
                                {@Model.CoilDetails[0].STATUS.ToString()}
                            </td>
                        </tr>
                        <tr><td><b>Clength:</b> @Model.CoilDetails[0].CLENGTH.ToString()</td></tr>
                        <tr>
                            <td>
                                <b>ZincCoat:</b>
                                @if (@Model.CoilDetails[0].ZINCCOAT != null)
                                {@Model.CoilDetails[0].ZINCCOAT.ToString()}
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="col-md-4" style="font-size:20px;">
                <div style="font-size:200%; color:red;">@Model.errMsg</div>
                @if (Model.errMsg == "" && Model.inputHidden != null && Model.CoilDetails[0].TYPE == "SM")
                {
                    <p>Number of Slits:</p>
                    var number_0 = (Model.slitNumber == 0) ? "selected " : "";
                    var number_2 = (Model.slitNumber == 2) ? "selected " : "";
                    var number_4 = (Model.slitNumber == 4) ? "selected " : "";
                    var number_6 = (Model.slitNumber == 6) ? "selected " : "";
                    var number_8 = (Model.slitNumber == 8) ? "selected " : "";

                    <select name="slitNumber" id="slitNumber" style="height:28px; width:150px; font-size:14px;" onchange="reloadSlitNumber()">
                        <option value=0 @number_0>Please select Number:</option>
                        <option value=2 @number_2>2</option>
                        <option value=4 @number_4>4</option>
                        <option value=6 @number_6>6</option>
                        <option value=8 @number_8>8</option>
                    </select>
                    if (Model.slitNumber > 0)
                    {
                        <p>Slit Width:</p>
                        var width_cover_51_base_67 = (Model.slitWidth == 118) ? "selected " : "";
                        var width_cover_67_base_83 = (Model.slitWidth == 150) ? "selected " : "";
                        var width_cover_92_base_108 = (Model.slitWidth == 200) ? "selected " : "";

                        <select name="slitWidth" id="slitWidth" style="height:28px; width:150px; font-size:14px;" onchange="reloadSlitWidth()">
                            <option value=0>Please select width:</option>
                            @if (118 * (Model.slitNumber / 2) < ((Model.CoilDetails[0].WIDTH == null) ? 1205 : Model.CoilDetails[0].WIDTH))
                            {
                                <option value=118 @width_cover_51_base_67>51 Cover/67 Base</option>}
                            @if (150 * (Model.slitNumber / 2) < ((Model.CoilDetails[0].WIDTH == null) ? 1205 : Model.CoilDetails[0].WIDTH))
                            {
                                <option value=150 @width_cover_67_base_83>67 Cover/83 Base</option>}
                            @if (200 * (Model.slitNumber / 2) < ((Model.CoilDetails[0].WIDTH == null) ? 1205 : Model.CoilDetails[0].WIDTH))
                            {
                                <option value=200 @width_cover_92_base_108>92 Cover/108 Base</option>}
                        </select>
                    }
                    <div id="printErr" style="color:red; font-size:25px;"></div>
                }
                @if (Model.errMsg == "" && Model.inputHidden != null && Model.CoilDetails[0].TYPE == "RA")
                {
                    <p style="font-size:25px; font-weight:bold;">Slit Number: 4</p>
                    <p style="font-size:25px; font-weight:bold;">Slit Width: 170 mm</p>
                }
                @if (Model.errMsg == "" && Model.inputHidden != null && Model.CoilDetails[0].TYPE == "PO")
                {
                    <p style="font-size:25px; font-weight:bold;">Slit Number: 8</p>
                    <p style="font-size:25px; font-weight:bold;">Slit Width: 135 mm</p>}
                @if (Model.errMsg == "" && Model.inputHidden != null && Model.CoilDetails[0].TYPE == "PL")
                {
                    <p style="font-size:25px; font-weight:bold;">Slit Number: 4</p>
                    <p style="font-size:25px; font-weight:bold;">Slit Width: 255 mm</p>}
                @if (Model.errMsg == "" && Model.inputHidden != null && Model.CoilDetails[0].TYPE == "IS")
                {
                    <p style="font-size:25px; font-weight:bold;">Slit Number: 8</p>
                    <p style="font-size:25px; font-weight:bold;">Slit Width: 116 mm</p>}
            </div>
            <div class="col-md-8" style="font-size:20px;">
                @if (Model.errMsg == "" && Model.inputHidden != null)
                {
                    <table class="col-md-2" style="font-size:20px;">
                        <tr><td>New Coil Slit ID: </td></tr>
                        @if (Model.CoilSlitIDs != null)
                        {
                            for (int i = 0; i < Model.CoilSlitIDs.Count; i++)
                            {
                                <tr><td>@Model.CoilSlitIDs[i]&nbsp;&nbsp;</td></tr>
                            }
                        }
                    </table>
                    <table class="col-md-3" style="font-size:20px;">
                        <tr><td>New Coil Slit Label: </td></tr>
                        @if (Model.CoilSlitLabels != null)
                        {
                            for (int i = 0; i < Model.CoilSlitLabels.Count; i++)
                            {
                                <tr><td>@Model.CoilSlitLabels[i]&nbsp;&nbsp;</td></tr>
                            }
                        }
                    </table>
                    <input type="button" id="PRINT" value="PRINT" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px; float:right;" onclick="PrintSlitLabel()" />
                    <div>@Html.TextBoxFor(model => model.printFlag, new { id = "printFlag", type = "hidden" })</div>
                }
            </div>
            <div class="col-md-12" style="border-top: 1px solid;">
                <input type="button" id="CLEAR" value="CLEAR" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="ClearSlit()" />&nbsp;&nbsp;
                <input type="button" id="BACK" value="BACK" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="gotoPage('Index','Scanner','');" />
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $('#input').focus();
    $('#printFlag').val('');
    $('#input').val('');

    $('#input').on("change", function (event) {
        $('#inputHidden').val($('#input').val());
        $('#frmMain').submit();
    });
    
    function reloadSlitNumber()
    {
        $('#slitWidth').val('');
        $('#frmMain').submit();
    }

    function reloadSlitWidth()
    {
        $('#frmMain').submit();
    }

    function ClearSlit()
    {
        $('#input').val('');
        $('#inputHidden').val('');
        $('#inputSlitNumber').val('');
        $('#slitWidth').val(0);
        $('#frmMain').submit();
    }

    function PrintSlitLabel()
    {
        if (@Model.slitWidth > 0)
        {
            var mywindow = window.open('', 'PRINT', 'height=600,width=700');
            mywindow.document.write('<html><head><title>SLIT LABEL PRINT PREVIEW (Print By:@loginUserName)</title>');
            mywindow.document.write('</head><body>');

            /* Printing Settings
            * Browser: Chrome
            * Layout: Landscape
            * Paper Size: User Defined
            * Margins: Default
            * Scale: 100 
            */

            //For big label, 1.5cm margin-top on printer preference
            //mywindow.document.write('@if (Model.QRcodes != null){for (int i = 0; i < Model.CoilSlitLabels.Count; i++){<br/><br/><br/><br/><br/><br/><table><tr><td>@Html.Raw(Model.QRcodes[i])</td><td><div>&emsp;@Html.Raw(Model.Barcodes[i])</div><div style="font-size:150%">&emsp;@Html.Raw(Model.CoilSlitLabels[i])</div></td></tr></table><br/><br/><br/>}}');
            
            //For small label, no margin on printer preference
            mywindow.document.write('@if (Model.QRcodes != null){for (int i = 0; i < Model.CoilSlitLabels.Count; i++){<table><tr><td>@Html.Raw(Model.QRcodes[i])</td><td><div>&emsp;&emsp;&emsp;@Html.Raw(Model.Barcodes[i])</div><div style="font-size:150%">&emsp;&emsp;@Html.Raw(Model.CoilSlitLabels[i])</div></td></tr></table><br/><br/><br/><br/><br/><br/><br/><br/>}}');

            mywindow.document.write('</body></html>');
            mywindow.document.close();
            setTimeout(function ()
            {
                mywindow.focus();
                mywindow.print();
                mywindow.close();
            }, 0);
            $('#printFlag').val('print');
            $("#frmMain").submit();
        }
        else
        {
            $('#printErr').text('Please fill required information here.');
        }
    }


</script>