@model Scanner.Models.CoilMasters
@{
    ViewBag.Title = "CoilMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css" id="custom-background-css">
    body.custom-background {
        background-color: #eaf6ff;
    }
</style>
<table class="bodyTable">
    <tr>
        <td style="width:300px;vertical-align:top;">
            <div class="sideMenuDiv">
                @Html.Partial("_SideMenuPanel")
            </div>
        </td>
        <td valign="top">
            @Html.Partial("_PageTitlePanel")
            <table>
                <tr>
                    <td><b>Search Text:</b></td>
                    <td>&nbsp;</td>
                    <td>@Html.TextBoxFor(o => o.whereStr, new { autocomplete = "off" })</td>
                    <td>&nbsp;</td>
                    <td><input type="button" class="btn btn-primary" onclick="submitNavpage(1)" value="SEARCH" style="width:80px;" /></td>
                    <td><font color="red">@Html.ValidationMessageFor(o => o.whereStr)</font></td>
                </tr>
            </table>
            <div class="TwrapOverFlow" style="width:1520px;">
                <span style="float:right; font-weight:bold">Total Orders : @Model.totalRows.ToString(),&nbsp;&nbsp;&nbsp;Page: @Model.pageNum.ToString()</span>
                <table class="head" style="width:1520px;">
                    <tr>
                        @if (Model.sortCol == "COILID")
                        {
                            <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('COILID','String')">COILID<span id="COILID_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('COILID','String')">COILID<span id="COILID_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "TYPE")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('TYPE','String')">TYPE<span id="TYPE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('TYPE','String')">TYPE<span id="TYPE_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "COLOR")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('COLOR','String')">COLOR<span id="COLOR_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('COLOR','String')">COLOR<span id="COLOR_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "WEIGHT")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WEIGHT','Number')">WEIGHT<span id="WEIGHT_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WEIGHT','Number')">WEIGHT<span id="WEIGHT_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "GAUGE")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('GAUGE','Number')">GAUGE<span id="GAUGE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('GAUGE','Number')">GAUGE<span id="GAUGE_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "WIDTH")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WIDTH','Number')">WIDTH<span id="WIDTH_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('WIDTH','Number')">WIDTH<span id="WIDTH_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "[ORDER]")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('[ORDER]','Number')">ORDER<span id="ORDER_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('[ORDER]','Number')">ORDER<span id="ORDER_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "P_ORDER")
                        {
                            <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('P_ORDER','String')">P_ORDER<span id="P_ORDER_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('P_ORDER','String')">P_ORDER<span id="P_ORDER_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "MONTH_RECD")
                        {
                            <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('MONTH_RECD','String')">MONTH_RECD<span id="MONTH_RECD_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:50px;font-weight:bold;"><a onclick="orderToggle('MONTH_RECD','String')">MONTH_RECD<span id="MONTH_RECD_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "DATE_INWH")
                        {
                            <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_INWH','Date')">DATE_INWH<span id="DATE_INWH_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_INWH','Date')">DATE_INWH<span id="DATE_INWH_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "DATE_TRANSFER")
                        {
                            <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_TRANSFER','Date')">DATE_TRANSFER<span id="DATE_TRANSFER_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('DATE_TRANSFER','Date')">DATE_TRANSFER<span id="DATE_TRANSFER_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "LAST_STOCKTAKE_DATE")
                        {
                            <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('LAST_STOCKTAKE_DATE','Date')">LAST_STOCKTAKE_DATE<span id="LAST_STOCKTAKE_DATE_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:70px;font-weight:bold;"><a onclick="orderToggle('LAST_STOCKTAKE_DATE','Date')">LAST_STOCKTAKE_DATE<span id="LAST_STOCKTAKE_DATE_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "STATUS")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('STATUS','String')">STATUS<span id="STATUS_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('STATUS','String')">STATUS<span id="STATUS_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                        @if (Model.sortCol == "CLENGTH")
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('CLENGTH','Number')">CLENGTH<span id="CLENGTH_ord" style="float:right;color:green;" class="@Model.orderBy"></span></a></td>
                        }
                        else
                        {
                            <td style="width:30px;font-weight:bold;"><a onclick="orderToggle('CLENGTH','Number')">CLENGTH<span id="CLENGTH_ord" style="float:right;color:green;display:none;"></span></a></td>
                        }
                    </tr>
                </table>
                <div class="inner_table" style="width:1520px;">
                    @if (Model.errMsg == "")
                    {
                        <table style="width:1520px; overflow-x: auto;">
                            @for (int i = 0; i < Model.CoilDetails.Count; i++)
                            {
                            <tr>
                                <td style="width:50px;">
                                    @if (@Model.CoilDetails[i].COILID != null)
                                    {@Model.CoilDetails[i].COILID}
                                </td>
                                <td style="width:30px;">
                                    @if (@Model.CoilDetails[i].TYPE != null)
                                    {@Model.CoilDetails[i].TYPE}
                                </td>
                                <td style="width:30px;">
                                    @if (@Model.CoilDetails[i].COLOR != null)
                                    {@Model.CoilDetails[i].COLOR}
                                </td>
                                <td style="width:30px;">@Model.CoilDetails[i].WEIGHT.ToString()</td>
                                <td style="width:30px;">@Model.CoilDetails[i].GAUGE.ToString()</td>
                                <td style="width:30px;">@Model.CoilDetails[i].WIDTH.ToString()</td>
                                <td style="width:30px;">@Model.CoilDetails[i].ORDER.ToString()</td>
                                <td style="width:50px;">
                                    @if (@Model.CoilDetails[i].P_ORDER != null)
                                    {@Model.CoilDetails[i].P_ORDER}
                                </td>
                                <td style="width:50px;">
                                    @if (@Model.CoilDetails[i].MONTH_RECD != null)
                                    {@Model.CoilDetails[i].MONTH_RECD}
                                </td>
                                <td style="width:70px;">@Model.CoilDetails[i].DATE_INWH.ToString()</td>
                                <td style="width:70px;">@Model.CoilDetails[i].DATE_TRANSFER.ToString()</td>
                                <td style="width:70px;">@Model.CoilDetails[i].LAST_STOCKTAKE_DATE.ToString()</td>
                                <td style="width:30px;">
                                    @if (@Model.CoilDetails[i].STATUS != null)
                                    {@Model.CoilDetails[i].STATUS}
                                </td>
                                <td style="width:30px;">@Model.CoilDetails[i].CLENGTH.ToString()</td>
                            </tr>
                            }
                        </table>
                    }
                </div>
                @{
                    var sel15 = (Model.rowsPerPage == 15) ? "selected " : "";
                    var sel30 = (Model.rowsPerPage == 30) ? "selected " : "";
                    var sel50 = (Model.rowsPerPage == 50) ? "selected " : "";
                    var sel100 = (Model.rowsPerPage == 100) ? "selected " : "";
                    var sel150 = (Model.rowsPerPage == 150) ? "selected " : "";
                    var sel200 = (Model.rowsPerPage == 200) ? "selected " : "";
                }
                <br />
                <span style="float:right; font-weight:bold">
                    @Html.TextBoxFor(o => o.totalPages, new { style = "display:none;" })Total Pages: @Model.totalPages.ToString(), Records per Page:
                    <select name="rowsPerPage" id="rowsPerPage" onchange="reloadWorkOrders()" style="height:28px;font-size:14px;">
                        <option value=15 @sel15>15</option>
                        <option value=30 @sel30>30</option>
                        <option value=50 @sel50>50</option>
                        <option value=100 @sel100>100</option>
                        <option value=150 @sel150>150</option>
                        <option value=200 @sel200>200</option>
                    </select>
                    &nbsp;&nbsp;
                    <a onclick="backNavpage()"><span class="glyphicon glyphicon-backward"></span></a>&nbsp;
                    @Html.TextBoxFor(o => o.pageNum, new { style = "width:30px;font-size:14px;font-weight:bold;border:solid 1px #666; height:28px;font-color:black;" })
                    &nbsp;<a onclick="forwardNavpage()"><span class="glyphicon glyphicon-forward"></span></a>
                </span>
                <input type="hidden" name="rows" id="rowsCnt" value="" />
                <input type="hidden" name="cols" id="colsCnt" value="" />
                @Html.TextBoxFor(o => o.sortCol, new { id = "sortCol", style = "display:none" })
                @Html.TextBoxFor(o => o.sortColType, new { style = "display:none" })
                @Html.TextBoxFor(o => o.orderBy, new { style = "display:none" })
            </div>
            @*@Html.Partial("_BottomPanel")*@
        </td>
    </tr>
</table>
<script language="javascript">
    var loadErrMsg = '@Html.Raw(Model.errMsg)';

    if (loadErrMsg != "") {
        BootstrapDialog.show({
            title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-warning-sign"></i> Warning</font>',
            message: "<font style='font-size:25px;'>" + loadErrMsg + "</font>",
            buttons: [{
                label: 'OK',
                cssClass: 'btn-dialog',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });
    }

    function submitNavpage(ini) {
        if (ini == 0) {
            if ($("#pageNum").val().replace(/ /g, "") == "") {
                $("#pageNum").val("1");
            }
        }
        else {
            $("#pageNum").val("1");
        }

        var flag = isPosInteger($("#pageNum").val());
        if (!flag) {
            showWarning("Page Number input is not a valid number.");
            $("#pageNum").val($("#pageNum").val().replace(/\D/g, ''));

            if ($("#pageNum").val() == "0") {
                $("#pageNum").val("1");
            }
        }
        else {
            if (parseInt($("#pageNum").val()) < 1) {
                $("#pageNum").val(1);
            }

            if (parseInt($("#pageNum").val()) > parseInt($("#totalPages").val())) {
                $("#pageNum").val($("#totalPages").val());
            }

            $("#byClick").val("1");

            if (ini == 1) {
                $("#sortCol").val("DefaultSort");
            }

            var url = '@Url.Action("-1", "-2")';
            url = url.replace("-1", "CoilMaster").replace("-2", "Scanner");
            $("#frmMain").attr('action', url);
            $("#frmMain").submit();
        }
    }

    $('#pageNum').keypress(function (e) {
        if (e.which == 13) {
            submitNavpage(0);
        }
    });

    $('#whereStr').keypress(function (e) {
        if (e.which == 13) {
            submitNavpage(1);
        }
    });

    $('#categorySort').change(function () {
        reloadWorkOrders();
    });

    $('#categorySort').keypress(function (e) {
        if (e.which == 13) {
            reloadWorkOrders();
        }
    })

    function clearText() {
        $('#categorySort').val('');
        $('#statusSort').val('-1');
        $('#whereStr').val('');
        submitNavpage(1);
    }


    function forwardNavpage() {
        if ($("#pageNum").val().replace(/ /g, "") == "") {
            $("#pageNum").val("1");
        }

        var flag = isPosInteger($("#pageNum").val());
        if (!flag) {
            showWarning("Page Number input is not a valid number.");
        }
        else {
            if (parseInt($("#pageNum").val()) < 1) {
                $("#pageNum").val(1);
            }

            if (parseInt($("#pageNum").val()) > parseInt($("#totalPages").val())) {
                $("#pageNum").val($("#totalPages").val());
            }

            if (parseInt($("#pageNum").val()) < parseInt($("#totalPages").val())) {
                $("#pageNum").val(parseInt($("#pageNum").val()) + 1);
            }
            $("#byClick").val("1");
            var url = '@Url.Action("-1", "-2")';
            url = url.replace("-1", "CoilMaster").replace("-2", "Scanner");
            $("#frmMain").attr('action', url);
            $("#frmMain").submit();
        }
    }


    function backNavpage() {
        if ($("#pageNum").val().replace(/ /g, "") == "") {
            $("#pageNum").val("1");
        }

        var flag = isPosInteger($("#pageNum").val());
        if (!flag) {
            showWarning("Page Number input is not a valid number.");
        }
        else {
            if (parseInt($("#pageNum").val()) > parseInt($("#totalPages").val())) {
                $("#pageNum").val($("#totalPages").val());
            }

            if (parseInt($("#pageNum").val()) < 1) {
                $("#pageNum").val(1);
            }

            if (parseInt($("#pageNum").val()) > 1) {
                $("#pageNum").val(parseInt($("#pageNum").val()) - 1);
            }

            $("#byClick").val("1");
            var url = '@Url.Action("-1", "-2")';
            url = url.replace("-1", "CoilMaster").replace("-2", "Scanner");
            $("#frmMain").attr('action', url);
            $("#frmMain").submit();
        }
    }



    function reloadWorkOrders() {
        $("#byClick").val("1");
        var url = '@Url.Action("-1", "-2")';
        url = url.replace("-1", "CoilMaster").replace("-2", "Scanner");
        $("#frmMain").attr('action', url);
        $("#frmMain").submit();
    }

    function orderToggle(Id, sortType) {
        if (Id == $("#sortCol").val()) {
            if ($("#orderBy").val() == "glyphicon glyphicon-arrow-down") {
                $("#orderBy").val("glyphicon glyphicon-arrow-up");
            }
            else {
                $("#orderBy").val("glyphicon glyphicon-arrow-down");
            }
        }
        else {
            $("#sortCol").val(Id);
            $("#orderBy").val("glyphicon glyphicon-arrow-up");
        }

        $("#sortColType").val(sortType);

        $("#byClick").val("1");
        var url = '@Url.Action("-1", "-2")';
        url = url.replace("-1", "CoilMaster").replace("-2", "Scanner");
        $("#frmMain").attr('action', url);
        $("#frmMain").submit();
    }
</script>