@model Scanner.Models.CoilDetail
@{
    ViewBag.Title = "Product2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css" id="custom-background-css">
    body.custom-background {
        background-color: #eaf6ff;
    }
</style>
<table class="bodyTable">
    <tr>
        <td style="width:300px;vertical-align:top;">
            <div class="sideMenuDiv">
                @Html.Partial("_SideMenuPanel")
            </div>
        </td>
        <td valign="top">
            @Html.Partial("_PageTitlePanel")
            <div class="col-md-6">
                <div style="font-size:25px;" class="editor-label">
                    Coil ID Scanned
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.CoilDetails[0].Input, new { id = "ID", style = "width: 500px; height:250px; border: 2px solid #ccc;" })
                    @Html.TextBoxFor(model => model.CoilDetails[0].Save, new { id = "Save", type = "hidden" })
                    @Html.TextBoxFor(model => model.CoilDetails[0].SaveTable, new { id = "SaveTable", type = "hidden" })
                    <div style="font-size:30px;">Please press Tab button to display data</div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="width:300px; text-align:center; font-size:30px;">
                    <img src="C:/Scanner/Upload-QRcode.png" alt="QRcode for upload data" height="300" width="300" />
                    Upload Data
                </div>

                <div style="padding-top:50px" class="editor-field">
                    @Html.TextBoxFor(model => model.CoilDetails[0].Flag, new { id = "uploadFlag", type = "hidden" })
                </div>
            </div>
            <div>
                <div style="color:red; font-size:40px">@ViewBag.Error @ViewBag.Upload</div>
                <div class="TwrapOverFlow" style="margin-right:10px;">
                    <table class="head" style="font-size:15px; width:1500px;">
                        <tr>
                            <th style="width:80px">
                                <span class="text">ID</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Type</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Color</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Weight</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Gauge</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Width</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Order</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">P_order</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Month_recd</span>
                            </th>
                            <th style="width:180px">
                                <span class="text">Date_inwh</span>
                            </th>
                            <th style="width:180px">
                                <span class="text">Date_transfer</span>
                            </th>
                            <th style="width:180px">
                                <span class="text">Last_stocktake_date</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Status</span>
                            </th>
                            <th style="width:50px">
                                <span class="text">Clength</span>
                            </th>
                        </tr>
                    </table>
                    <div class="inner_table" style="width:1500px; height:300px;">
                        <table>
                            @{
                                int i = 0;
                                if (Model != null && Model.CoilDetails != null)
                                {
                                    foreach (var item in Model.CoilDetails.Skip(1).ToList())
                                    {
                                        <tr>
                                            <td style="width:80px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].ID, new { @id = "ID_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Type, new { @id = "Type_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Color, new { @id = "Color_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Weight, new { @id = "Weight_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Gauge, new { @id = "Gauge_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Width, new { @id = "Width_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Order, new { @id = "Order_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].P_order, new { @id = "P_order_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Month_recd, new { @id = "Month_recd_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:180px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Date_inwh, new { @id = "Date_inwh_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:180px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Date_transfer, new { @id = "Date_transfer_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:180px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Last_stocktake_date, new { @id = "Last_stocktake_date_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Status, new { @id = "Status_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                            <td style="width:50px; background-color:#e2e2e2;">
                                                @Html.TextBoxFor(model => model.CoilDetails[i + 1].Clength, new { @id = "Clength_" + i, style = "background-color:#e2e2e2;" })
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" id="clear" value="CLEAR" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" />
                <input type="button" id="back" value="BACK" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px;" onclick="gotoPage('Index','Scanner','');" />&nbsp;&nbsp;
                <input type="submit" id="uploadButton" value="UPDATE" class="btn btn-primary btn-lg" style="height:40px; width: 100px; margin-bottom:10px;margin-top:10px; float:right;" />
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ID').focus();
        $('#ID').val('');
        $('#uploadFlag').val('');

        $('#clear').click(function () {
            $('.inner_table').remove(); //remove all table rows except the headings
            $('#ID').val('');
            $('#Save').val('');
            $('#SaveTable').val('');
            $('#uploadFlag').val("");
        });

        $('#uploadButton').click(function () {
            $('#SaveTable').val($('#Save').val());
            $('.inner_table').remove(); //remove all table rows except the headings
            $('#uploadFlag').val("UPLOAD");
            $("#frmMain").submit(function () {
                $('#Save').val('');
            });
        });

        $('#ID').keydown(function (event) {
            if (event.keyCode == 9) {
                $('#Save').val($('#Save').val() + $('#ID').val());
                $("#frmMain").submit();
            }
        });

        $('#ID').keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    });
</script>