@model Scanner.Models.WorkOrders
@{
    ViewBag.Title = "Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="bodyTable">
    <tr>
        <td style="width:300px;"></td>
        <td valign="top">
            <div class="jumbotron">
                <table style="width:100%">
                    <tr>
                        <td><font class="subPagetitle">@ViewBag.Title</font></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="TwrapOverFlow">
                <table class="head">
                    <tr>
                        <td style="width:100px;font-weight:bold;">Sequence No</td>
                        <td style="width:100px;font-weight:bold;">BillCode</td>
                        <td style="width:100px;font-weight:bold;">ProdCode</td>
                        <td style="width:100px;font-weight:bold;">BatchCode</td>
                        <td style="width:100px;font-weight:bold;">TransDate</td>
                        <td style="width:100px;font-weight:bold;">ProdDate</td>
                        <td style="width:100px;font-weight:bold;">DueDate</td>
                        <td style="width:100px;font-weight:bold;">Order Status</td>
                        <td style="width:100px;font-weight:bold;">SalesOrder No</td>
                        <td style="width:100px;font-weight:bold;">Notes</td>
                        <td style="width:100px;font-weight:bold;">Prod Qty</td>
                        <td style="width:100px;font-weight:bold;">Actual Qty</td>
                        <td style="width:100px;font-weight:bold;">Prod Loc No</td>
                        <td style="width:100px;font-weight:bold;">Reference</td>
                        <td style="width:100px;font-weight:bold;">Staff No</td>
                        <td style="width:100px;font-weight:bold;">Component Loc No</td>
                        <td style="width:100px;font-weight:bold;">Expiry Date</td>
                        <td style="width:100px;font-weight:bold;">X_BR_Order</td>
                        <td style="width:100px;font-weight:bold;">X_BR_AccNo</td>
                        <td style="width:100px;font-weight:bold;">X_BR_InvNo</td>
                        <td style="width:100px;font-weight:bold;">X_BR_Inv</td>
                    </tr>
                </table>
                <div class="inner_table" style="width:1520px;">
                    @*@if (Model.errMsg == "")
                    {
                    <table>
                        @foreach (var SeqNo in ViewBag.SeqNo)
                        {
                        <tr>
                            <td>@SeqNo</td>
                        </tr>
                        }
                    </table>
                    }*@

                    <table>
                        @for (int i = 0; i < Model.workOrders.Count; i++)
                        {
                        <tr>
                            <td style="width:100px;">@Model.workOrders[i].SEQNO.ToString()</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].BILLCODE != null) {@Model.workOrders[i].BILLCODE.ToString()}</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].PRODCODE != null) {@Model.workOrders[i].PRODCODE.ToString()}</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].BATCHCODE != null){@Model.workOrders[i].BATCHCODE.ToString()}</td>
                            <td style="width:100px;">@Model.workOrders[i].TRANSDATE.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].PRODDATE.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].DUEDATE.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].ORDSTATUS.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].SALESORDNO.ToString()</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].NOTES != null) {@Model.workOrders[i].NOTES.ToString()}</td>
                            <td style="width:100px;">@Model.workOrders[i].PRODQTY.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].ACTUALQTY.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].PRODLOCNO.ToString()</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].REFERENCE != null) {@Model.workOrders[i].REFERENCE.ToString()}</td>
                            <td style="width:100px;">@Model.workOrders[i].STAFFNO.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].COMPONENTLOCNO.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].EXPIRY_DATE.ToString()</td>
                            <td style="width:100px;">@Model.workOrders[i].X_BR_ORDER.ToString()</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].X_BR_ACCNO != null) {@Model.workOrders[i].X_BR_ACCNO.ToString()}</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].X_BR_INVNO != null) {@Model.workOrders[i].X_BR_INVNO.ToString()}</td>
                            <td style="width:100px;">@if (@Model.workOrders[i].X_BR != null) {@Model.workOrders[i].X_BR.ToString()}</td>

                        </tr>
                        }
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
